<app-navblue [categoryName]="'DANÇA'" 
[categoryImage]="'images/dancenavv.png'"
[description]="'A dança é uma forma de expressão universal que combina movimentos corporais e música, capaz de encantar pessoas de todas as idades e culturas. Seja como passatempo ou carreira profissional, dançar oferece benefícios físicos e emocionais, permitindo uma conexão profunda com diferentes estilos e tradições ao redor do mundo.'"
[minInvestment]="'R$70,00'"></app-navblue>
<app-dance-action-bar></app-dance-action-bar>
 
<app-filter></app-filter>
<app-maps></app-maps>
<app-footer></app-footer> 