<app-navblue [categoryName]="'FUTEBOL'" 
[categoryImage]="'images/footballnav.png'"
[description]="' O futebol é um dos esportes mais populares e praticados do mundo, com milhões de fãs e atletas espalhados por todos os continentes. Jogado entre duas equipes de onze jogadores cada, o objetivo principal é marcar gols no adversário.'"
[minInvestment]="'R$30,00'"></app-navblue>
<app-action-bar></app-action-bar>

<section>
  <div class="material-container">
    <div class="linha">

      <div class="item">
          <img class="chuteira img" src="images/chuteira.png" alt="Chuteira">
        <div class="textos texto-chuteira">
          <h3>Chuteira</h3>
          <p>Tênis especial para garantir tração no campo.</p>
        </div>
      </div>

      <div class="item">
          <img class="bola img" src="images/bola.png" alt="Bola">
        <div class="textos texto-bola">
          <h3>Bola</h3>
          <p>A bola é essencial para treinos e jogos.</p>
        </div>
      </div>

      <div class="item">
          <img class="meiao img" src="images/meiao.png" alt="Meião">
        <div class="textos texto-meiao">
          <h3>Meião</h3>
          <p>Essenciais para o conforto durante os jogos.</p>
        </div>
      </div>

      <div class="item">
          <img class="luva img" src="images/luva.png" alt="Luva de Goleiro">
        <div class="textos texto-luva">
          <h3>Luva de Goleiro</h3>
          <p>Se você for jogar no gol, elas protegem as mãos.</p>
        </div>
      </div>

    </div>
  </div>

</section>


<app-footer></app-footer> 