<app-navblue [categoryName]="'FUTEBOL'" [categoryImage]="'images/footballnav.png'"></app-navblue>
<app-action-bar></app-action-bar>
<h2 class="titulo-material">Materiais</h2>

<section>
  <div class="material-container">
    <div class="linha">
      <div class="item">
        <img src="images/chuteira.png" alt="Chuteira">
      </div>
      <div class="item">
        <img src="images/bola.png" alt="Bola">
      </div>

      <div class="item">
        <img src="images/meiao.png" alt="Meião">
      </div>
      <div class="item">
        <img src="images/luva.png" alt="Luva de Goleiro">
      </div>
    </div>
  </div>

  <div class="textos">
    <div class="texto1">
      <h3>Chuteira</h3>
      <p>Tênis especial para garantir tração no campo.</p>
    </div>
    <div class="texto2">
      <h3>Bola</h3>
      <p>A bola é essencial para treinos e jogos.</p>
    </div>
    <div class="texto3">
      <h3>Meião</h3>
      <p>Essenciais para o conforto durante os jogos.</p>
    </div>
    <div class="texto4">
      <h3>Luva de Goleiro</h3>
      <p>Se você for jogar no gol, elas protegem as mãos.</p>
    </div>
  </div>
</section>


<app-footer></app-footer> 