.explorar-header {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 152px 8px 165px;

}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #E15C31;
  margin: 0;
}

button.seta-direita {
  background: none;
  border: none;
  color: #E15C31;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.seta-esquerda {
  background: none;
  border: none;
  color: #E15C31;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 190px;
}

.material-icons {
  font-size: 26px;
}

/* containers de hobbies */
.hobby-containers {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  cursor: grab;
  gap: 16px;
  padding: 8px 162px 20px 164px;
  scrollbar-width: none;
  user-select: none; 
}

.hobby-containers:active {
  cursor: grabbing; 
}

.hobby-containers::-webkit-scrollbar {
  display: none;
}

.hobby-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 190px;
  flex-shrink: 0;
}

.hobby-name {
  color: #043B64;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
  margin: 0;
}

.image-container {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
}

.hobby-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.hobby-container:hover .hobby-image {
  transform: scale(1.05);
  z-index: 1;
}

.see-more-button {
  position: absolute;
  bottom: 10px;
  left: 30%;
  font-family: dm sans;
  transform: translateX(-15%);
  background-color: #E15C31;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.see-more-button:hover {
  background-color: #043B64;
}


@media screen and (max-width: 1024px) {
  .explorar-header {
    padding: 32px 96px 8px 112px;
  }

  button.seta-esquerda {
    right: 130px;
  }

  .hobby-containers {
    padding: 8px 108px 20px 114px;
  }
}

@media screen and (max-width: 768px) {
  .explorar-header {
    padding: 32px 56px 8px 66px;
  }

  button.seta-esquerda {
    right: 90px;
  }

  .title {
    font-size: 18px;
  }

  .material-icons {
    font-size: 24px;
  }


  .hobby-containers {
    padding: 8px 66px 8px 68px;
  }

  .hobby-container {
    width: 188px;
    flex-shrink: 0;
  }

  .hobby-name {
    font-size: 14px;
    padding-bottom: 6px;
  }
  
  .image-container {
    height: 320px;
    border-radius: 5px;
  }
  
  .hobby-image {
    object-fit: cover;
    border-radius: 5px;
  }
  
  .see-more-button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  .explorar-header {
    padding: 1px 32px 8px 42px;
  }

  button.seta-esquerda {
    right: 60px;
  }

  .title {
    font-size: 16px;
  }

  .material-icons {
    font-size: 22px;
  }

  .hobby-containers {
    padding: 2px 44px 8px 43px;
  }

  .hobby-container {
    width: 140px;
    flex-shrink: 0;
  }

  .hobby-name {
    font-size: 14px;
    padding-bottom: 6px;
  }
  
  .image-container {
    height: 224px;
    border-radius: 5px;
  }
  
  .hobby-image {
    object-fit: cover;
    border-radius: 5px;
  }
  
  .see-more-button {
    padding: 10px 20px;
    font-size: 11px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 380px) {
  .explorar-header {
    padding: 1px 26px 8px 34px;
  }

  button.seta-esquerda {
    right: 50px;
  }

  .title {
    font-size: 14px;
  }

  .material-icons {
    font-size: 18px;
  }


  .hobby-containers {
    padding: 0 34px 8px 35px;
  }

  .hobby-container {
    width: 136px;
    flex-shrink: 0;
  }

  .hobby-name {
    font-size: 12px;
    padding-bottom: 6px;
  }
  
  .image-container {
    height: 208px;
    border-radius: 5px;
  }
  
  .hobby-image {
    object-fit: cover;
    border-radius: 5px;
  }
  
  .see-more-button {
    padding: 10px 20px;
    font-size: 10px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 320px) {

}