section {
    padding: 32px 0 0 166px;
}

.retangulo {
    width: 216px;
    height: 376px;
    border: 2px solid #043B64CC;
    border-radius: 20px;
    background-color: transparent;
    position: relative;
    transform: translateX(0);
    transition: none;
}

h1 {
    color: #043B64;
    font-size: 18px;
    font-weight: 600;
    padding-left: 28px;
    padding-top: 8px;
}

.botoes {
    padding-left: 28px;
    padding-top: 8px;
}

button {
    background-color: transparent;
}

.material-icons {
    font-size: 22px;
}

a {
    width: 22px;
    height: 22px;
}

button {
    width: 216px;
    height: 38px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 12px;
}

button.ativo {
    background-color: #E15C31;
    color: #ffffff;
}

button h3 {
    color: #043B64;
    font-size: 16px;
    font-weight: 500;
    font-family: dm sans;
}

button.ativo h3 {
    color: #ffffff;
    padding-left: 10px;
}

button.ativo a {
    color: #ffffff;
    padding-left: 16px;

}

.espaco {
    padding-bottom: 8px;
}

.espaco_sair {
    padding-top: 16px;
}

h2 {
    font-size: 17px;
    font-weight: 500;
    font-family: dm sans;
    color: #043B64;
    letter-spacing: 1px;
    padding-left: 8px;
    margin: 0;
    cursor: pointer;
}

.icone_sair {
    color: #043B64;
}

.toggle-button {
    display: none;
}


/* Responsividade */
@media screen and (max-width: 1024px) {
    section {
      padding: 32px 0 0 114px;
    }
}

@media screen and (max-width: 768px) {
    section {
      padding: 32px 0 0 66px;
    }

    .retangulo {
        width: 168px;
        height: 304px;
        border-radius: 20px;
    }

    h1 {
        font-size: 16px;
        padding: 22px 0 10px 24px;
        margin: 0;
        font-family: dm sans;
    }

    .botoes {
        padding-left: 24px;
        padding-top: 8px;
    }

    .material-icons {
        font-size: 19px;
    }

    button {
        width: 168px;
        height: 34px;
    }

    button h3 {
        font-size: 14px;
    }
    
    button.ativo h3 {
        padding-left: 6px;
    }
    
    button.ativo a {
        padding-left: 6px;
        width: 19px;
        height: 19px;
    
    }

    .espaco {
        padding-bottom: 4px;
    }
    
    .espaco_sair {
        padding-top: 4px;
    }
    
    h2 {
        font-size: 15px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 28px 0 0 18px;   
    }

    h1 {
        font-family: dm sans;
    }

    .retangulo {
        position: fixed;
        padding-top: 30px;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: white;
        border-radius: 0;
        border: none;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        border: 1px solid #043B64AA; 
    }

    .retangulo:not(.hidden) {
        transform: translateX(0);
    }

    .toggle-button {
        display: flex;
        justify-content: space-between;
        height: 32px;
        position: fixed;
        top: 40px;
        left: 24px;
        z-index: 1000;
        background-color: #043B64;
        color: white;
        padding-left: 16px;
        display: inline-flex; 
        align-items: center; 
        border-radius: 5px; 
        font-size: 18px;
        width: 100%;
    }

    .botao-perfil {
        width: 94%;
        height: 32px;
    }

    .espaco {
        padding-bottom: 8px;
    }

    button.ativo {
        background-color: transparent;
        padding-left: 0;
    }

    button.ativo h3 {
        color: #e15d31;
        padding-left: 8px;
    }
    
    button.ativo a {
        color: #e15d31;
        padding-left: 0;
    }
}

@media screen and (max-width: 380px) {
    section {
      padding: 28px 0 0 8px;   
    }

    .retangulo {
        padding-top: 30px;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }

    h1 {
        font-family: dm sans;
    }

    .toggle-button {
        height: 32px;
        top: 40px;
        left: 24px;
        padding-left: 16px;
        border-radius: 5px; 
        font-size: 16px;
        width: 100%;
    }

    .botao-perfil {
        width: 94%;
        height: 30px;
    }

    button.ativo {
        padding-left: 8px;
    }
    
    button {
        width: 216px;
        height: 38px;
    }
    
    button h3 {
        font-size: 14px;
    }

    .material-icons {
        font-size: 20px;
    }

    a {
        width: 20px;
        height: 20px;
    }

    h2 {
        font-size: 15px;
        padding-left: 8px;
    }
}

@media screen and (max-width: 320px) {
    section {
      padding: 28px 0 0 10px;   
    }

    .retangulo {
        padding-top: 30px;
        top: 0;
        left: 0;
        width: 54%;
        height: 100%;
    }

    .toggle-button {
        height: 32px;
        top: 40px;
        left: 24px;
        padding-left: 16px; 
        border-radius: 5px; 
        font-size: 16px;
        width: 100%;
    }

    .botao-perfil {
        width: 90%;
        height: 30px;
    }

    button.ativo {
        padding-left: 8px;
    }
    
    button {
        width: 216px;
        height: 38px;
    }
    
    button h3 {
        font-size: 14px;
    }

    .material-icons {
        font-size: 20px;
    }

    a {
        width: 20px;
        height: 20px;
    }

    button.ativo h3 {
        padding-left: 6px;
    }

    h2 {
        font-size: 14px;
        padding-left: 8px;
    }

    h1 {
        font-weight: 600;
        font-family: dm sans;
      
    }
 
}