.container {
    max-width: 1600px;
    padding: 0 20px;
    margin: 0 auto; 
    box-sizing: border-box;
}


.d-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.material-icons {
    padding-top: 40px;
}

.align-center {
    align-items: center; 
}

.titulo1,
.titulo2,
.titulo3 {
    font-size: 1.5rem;
    color: #E15C31;;
    padding-bottom: 5px;
}

.label-custom {
    display: block;
    font-weight: 500;
    font-size: 1rem; 
    color: #403939;
    padding-bottom: 8px; 
}

.label-custom-serv {
    display: block;
    font-weight: bold;
    color: #E15C31;
    padding-bottom: 5px;
}

.input,
textarea {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    color: #E15C31;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 50px;
}

.input:focus,
textarea:focus {
    color: #403939;
    outline: none;
    box-shadow: 0 0 5px rgba(163, 109, 78, 0.5);
}

.btn-custom {
    background-color: #E15C31;
    color: #fff;
    border: none;
    padding: 10px 40px;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom:disabled {
    background-color: #E15C31;
    cursor: not-allowed;
}

.btn-custom:hover:not(:disabled) {
    background-color: #0e404a;
}

.error-message {
    color: #E15C31;
    font-size: 0.875rem;
}


.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.col-12 {
    flex: 1 1 100%;
}

.col-md-2 {
    flex: 1 1 20%;
}

.col-md-4 {
    flex: 1 1 40%;
}

.col-md-6 {
    flex: 1 1 50%;
}

.col-md-9 {
    flex: 1 1 75%;
}

.col-md-3 {
    flex: 1 1 25%;
}



input, textarea {
    width: 100%;
    padding: 15px; 
    border-radius: 8px;
    border: 1px solid #E15C31;
    margin-bottom: 20px;
    height: 40px;  
    box-sizing: border-box;  
}


textarea {
    min-height: 100px;  
}


input:focus, textarea:focus {
    border-color: #E15C31;
    outline: none;
    box-shadow: 0 0 5px #E15C31;
}

  

.form-group .input,
.form-group textarea {
    margin-bottom: 10px;
}

.form-group .input {
    width: 100%;
}

.d-flex.justify-content-end {
    justify-content: flex-end; 
}

.titulo-geral {
    padding-top: 10px;
}

.mb-3 {
    padding-bottom: 17px;
}

.mb-4 {
    padding-bottom: 16px;
}

.rounded-input {
    border-radius: 13px;
    border: 1px solid #E15C31;
}

.rounded-input:focus {
    border-color: #E15C31;;
    box-shadow: 0 0 5px rgba(23, 97, 110, 0.5);
}

/* Títulos */
.titulo_geral,
.titulo1,
.titulo2,
.titulo3 {
    color: #E15C31;
}

.titulo1,
.titulo2,
.titulo3 {
    font-size: 20px;
}

.titulo1 {
    font-size: 24px;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}


.select-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #E15C31;
    border-radius: 10px;
    min-height: 60px;
    appearance: none;
    font-size: 1rem;
    font-family: Dm Sans;
    color: #403939;
    background: transparent;
}

.select-container i {
    position: absolute;
    right: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: #E15C31;
}


.select-container select:focus  {
    outline: none;
    border-color: #E15C31; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 768px) {
    .titulo1,
    .titulo2,
    .titulo3 {
        font-size: 18px;
    }

    
    .col-6, .col-5 {
        flex: 1 1 100%; 
    }
}

