<app-navblue [categoryName]="'DANÇA'" 
[categoryImage]="'images/dancenavv.png'"
[description]="'A dança é uma forma de expressão universal que combina movimentos corporais e música, capaz de encantar pessoas de todas as idades e culturas. Seja como passatempo ou carreira profissional, dançar oferece benefícios físicos e emocionais, permitindo uma conexão profunda com diferentes estilos e tradições ao redor do mundo.'"
[minInvestment]="'R$70,00'"></app-navblue>
<app-dance-action-bar></app-dance-action-bar>

<div class="content">
  <div class="container-p1">
    <p class="p1">
        A dança tem uma história que vem dançando desde os tempos mais remotos! Tudo começou lá na Pré-História, quando nossos ancestrais, nas cavernas, já se moviam para celebrar a vida, pedir proteção e garantir boas caçadas. Era um jeito de unir a comunidade e se conectar com o sagrado.
    </p>
  </div>


  <div class="content-container">
    <div class="image-text-section">
      <img src="images/origem-1.jpg" alt="" class="image">
      <p>
        No Egito Antigo, dançar era praticamente uma oferenda aos deuses. Durante as cerimônias, os egípcios usavam a dança para expressar sua devoção. Já na Grécia Antiga, dançar era parte do cotidiano: nas festas, nos casamentos e até no teatro, onde a coreografia ajudava a contar a história de uma forma que só a dança podia fazer.
      </p>
    </div>

    <div class="image-text-section">
      <p>
        Durante o Renascimento, as coisas ficaram ainda mais sérias! Foi nesse período que surgiram as primeiras escolas e professores de dança, e a arte de dançar passou a ser estudada de forma mais técnica, dando início a um legado que influenciaria estilos de dança por todo o mundo
      </p>
      <img src="images/origem-2.jpg" alt="" class="image">
    </div>
  </div>
</div>
<app-footer></app-footer>  