section {
    background-color: #fff;
    padding: 0 154px 24px 166px;
}

.ratings-title {
    font-size: 18px;
    color: #043B64;
    margin: 0;
}

.ratings-summary {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 56px 0;
    align-items: center;
    width: 100%;
}

.div1, .div2 {
    flex: 1;
}

.number {
    font-size: 62px;
    color: #043B64;
    font-weight: bold;
    padding-left: 25px;
}

.av {
    font-size: 14px;
    color: #403939;
    padding-left: 30px;
}

.bar {
    background-color: #f5f1f1;
    height: 16px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 30px;
}

.bar-fill {
    background-color: #043B64;
    height: 100%;
    border-radius: 30px;
}

/* Avaliação */
.separator {
    border: 1px solid #dfd2d2;
    border-radius: 30px;
    margin: 0;
}

.rating-container {
    padding-top: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.submit-rating {
    display: flex;
    align-items: center;
    border: 1px solid #043B64;
    border-radius: 12px;
    height: 88px;
    background-color: transparent;
    max-width: 1300px;
    width: 100%;
}

.rating-input {
    width: 100%;
    font-size: 16px;
    padding-left: 16px;
    border: none;
    color: #403939;
    height: 100%;
    background-color: transparent;
    border-radius: 4px;
    display: flex;
}

.number-input {
    padding: 2px 8px;
    font-size: 16px;
    border: 1px solid #043B64;
    height: 24px;
    width: 12px;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    font-family: dm sans;
}

.nota {
    padding-top: 40px;
    padding-right: 16px;
}

.enviar {
    padding-top: 44px;
}

.material-icons {
    color: #403939;
}

.user-profile-container {
    padding-right: 12px;
}

.user-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.submit-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding-right: 24px;
}

.user-reviews {
    padding-top: 48px;
}

.user-review {
    display: flex;
    padding-bottom: 32px;
}

.user-profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile-comment {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 16px;
}

.review-text {
    flex-grow: 1;
}

.user-name {
    color: #043B64;
    font-weight: bold;
}

.review-date {
    color: #403939;
    font-size: 0.9em;
    margin-left: 10px;
}

.star {
    font-size: 36px;
}

.star-full:before {
    content: '★';
    color: #FCAF3C;
}

.star-half:before {
    content: '☆';
    color: #FCAF3C;
}

.star-empty:before {
    content: '☆';
    color: #ddd;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    section {
      padding: 32px 108px 0 112px;
    }

    .nota {
        padding-top: 40px;
        padding-right: 12px;
    }
    
    .enviar {
        padding-top: 44px;
    }    
}

@media screen and (max-width: 768px) {
    section {
      padding: 32px 62px 0 62px;
    }

    .container {
        padding: 32px 0;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 24px 42px 0 38px;
    }

    .container {
        padding: 24px 0;
    }
    
    .nota {
        padding-top: 36px;
        padding-right: 4px;
    }
    
    .enviar {
        padding-top: 40px;
    }

    .submit-button {
        padding-right: 8px;
    }

    .number {
        font-size: 56px;
        padding-left: 25px;
    }

    .star {
        font-size: 32px;
    }

    .rating-container {
        padding-top: 32px;
        margin: 0;
    }

    .user-profile-comment {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-right: 12px;
    }

    .submit-rating {
        height: 72px;
    }

    .user-name {
        font-size: 16px;
    }

    .review-date {
        font-size: 12px;
    }

    p {
        text-align: justify;
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 24px 34px 0 30px;
    }
}