<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>


<div class="content">
    <div class="container-p1">
      <p class="p1">
        A leitura tem raízes tão profundas quanto as palavras gravadas na pedra! Tudo começou com a escrita cuneiforme, lá por volta de 3.000 a.C. na Mesopotâmia. No começo, ela servia apenas para registrar números e facilitar o comércio. Quem lia eram os sacerdotes e as elites, enquanto a maioria da população ficava com a transmissão oral do conhecimento.

      </p>
    </div>
  

    <div class="content-container">
      <div class="image-text-section">
        <img src="images/leituraorigem.jpg" alt="" class="image">
        <p>
            Em Atenas, por exemplo, a leitura era feita de forma coletiva, e as crianças recitavam as epopeias de Homero, como se estivessem decorando a história da humanidade. E a leitura silenciosa? Ah, essa começou com os monges copistas na Idade Média. Para eles, a leitura era um momento de concentração e silêncio, necessário para copiar manuscritos com precisão.
        </p>
      </div>
  
      <div class="image-text-section">
        <p>
            Com o tempo, a leitura foi se tornando mais acessível, especialmente com a criação do alfabeto pelos fenícios, por volta de 1.200 a.C. Eles simplificaram os símbolos, facilitando o aprendizado. Os gregos adaptaram esse alfabeto e criaram o alfabeto grego, que ajudou a espalhar o conhecimento. Porém, foi só com a invenção da imprensa por Gutenberg, no século XV, que a leitura se popularizou de verdade, tornando os livros acessíveis a muito mais pessoas e dando início à alfabetização em massa.
        </p>
        <img src="images/leituraorigem2.jpg" alt="" class="image">
      </div>
    </div>
  </div>
  <app-footer></app-footer>  