<section class="notification-container">
    <div class="preferences">
      <h3>Suas preferências de hobbies</h3>
      <p class="preferences-text">
        Enviaremos atualizações sobre novos hobbies e escolas na sua cidade/área de alcance, mas você pode desativar essa função no momento em que desejar.
      </p>
      <div class="toggle-container">
        <p class="toggle-text">RECEBER NOTIFICAÇÕES</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
      </div>
    </div>
  
    <div class="notification-card">
      <div class="notification-header">
        <span class="new-notification">NOVO!</span>
        <span class="notification-text">
          Hobby de cerâmica está ganhando popularidade em Barueri. Confira!
        </span>
      </div>
  
      <div class="notification-content">
        <img src="images/ceramica-notif.png" alt="Cerâmica" class="notification-image">
        <p class="notification-description">
          A cerâmica é a arte de modelar argila para criar peças funcionais ou decorativas. Esse hobby une criatividade e técnica, resultando em obras únicas e personalizadas.
        </p>
      </div>
  
      <button class="view-more-button">Ver mais</button>
    </div>


  <div class="notification-card">
    <div class="notification-header">
      <span class="new-notification">NOVO! </span>
      <span class="notification-text">
        Uma nova escola de futebol acabou de abrir a 2km de você, em Barueri.
      </span>
    </div>

    <div class="notification-content">
      <img src="images/remoschool1.png" class="notification-image-2">
      <p class="notification-description">
        Na Futebol Academy, combinamos técnicas modernas com diversão, focando no desenvolvimento das habilidades de forma lúdica e inclusiva.
      </p>
    </div>

    <button class="view-more-button">Ver mais</button>
  </div>


    
  </section>
  