<section>
  <div class="container">
    <div class="informacoes">
      <div class="profile_image">
        <img class="image" src="images/profile.png" alt="">
        <h2 href="#" >Alterar Imagem</h2>
      </div>
      <div class="infos_principais">
        <div class="nome">
            <h4>Nome</h4>
            <div class="input-container">
              <input type="text" placeholder="Caterine Santos">
            </div>
        </div>
        <div class="local">
            <h4>Cidade</h4>
            <div class="input-container">
              <input type="text" placeholder="Barueri, SP">
            </div>
        </div>
      </div>
    </div>
    <div class="informacoes_dois">
      <div class="esquerda">
        <div class="e-mail">
          <h4>E-mail</h4>
          <div class="input-container">
            <input class="info" type="text" placeholder="caterine.snts@gmail.com" />
          </div>
        </div>
        <div class="telefone">
          <h4>Telefone</h4>
          <div class="input-container">
            <input class="info" type="text" placeholder="(11) 97456-6329">
          </div>
        </div>
      </div>
      <div class="direita">
        <div class="nascimento">
          <h4>Data de Nascimento</h4>
          <div class="input-container">
            <input class="info" type="text" placeholder="25/08/2000">
          </div>
        </div>
        <div class="genero">
          <h4>Gênero</h4>
          <div class="select-container">
            <i class="fas fa-chevron-down"></i>
            <select>
              <option selected>Feminino</option>
              <option value="1">Masculino</option>
              <option value="2">Outro</option>
            </select>
          </div>
        </div>
        <div class="botao">
          <button class="salvar" (click)="navegarParaProfile()">Salvar Alterações</button>
        </div>
      </div>
    </div>
  </div>
</section>