<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>


<h2 class="titulo-material">Materiais</h2>

<section>
  <div class="material-container">
    <div class="linha">
      <div class="item">
        <img src="images/ebook.png">
      </div>
      <div class="item">
        <img src="images/livros.png">
      </div>
    </div>
  </div>

  <div class="textos">
    <div class="texto1">
      <h3>E-books</h3>
      <p>Uma alternativa para ler só que no formato digital.</p>
    </div>
    <div class="texto2">
      <h3>Livros</h3>
      <p>O principal material para o ato de ler e explorar diferentes conteúdos com diversos tamanhos.
    </p>
    </div>
  </div>
</section>


<app-footer></app-footer> 