<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>

<section>
  <div class="material-container">
    <div class="linha">

      <div class="item">
        <img class="ebook img" src="images/ebook.png">
        <div class="textos texto-ebook">
          <h3>E-books</h3>
          <p>Uma alternativa para ler só que no formato digital.</p>
        </div>
      </div>
      
      <div class="item">
        <img class="livros img" src="images/livros.png">
        <div class="textos texto-livros">
          <h3>Livros</h3>
          <p>O principal material para o ato de ler e explorar diferentes conteúdos com diversos tamanhos.
        </p>
        </div>
      </div>

    </div>
  </div>
</section>

<app-footer></app-footer> 