<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>


<section>
  <div class="titulo-principais">
    <h2 class="titulo">Confira os eventos e workshops com Leitura</h2>
    <h3 class="subtitulo">Eventos</h3>
  </div>
    
  <div class="eventos-container">
    <div class="eventos">
      <div class="evento">
        <img src="images/eventoleitura3.png" alt="Torneio de Futebol">
      </div>
    </div>
  </div>
  
  <h3 class="subtitulo2">Workshops</h3>
  
  <div class="eventos-container">
    <div class="eventos">
      <div class="evento">
          <img src="images/workshopleitura2.png" alt="Torneio de Futebol">
        </div>
        <div class="evento">
          <img src="images/workshopleitura3.png" alt="Torneio de Futebol">
        </div>
    </div>
  </div>
</section>
  
  <app-footer></app-footer>  