<div class="modal" *ngIf="isVisible" (click)="fecharModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5>Faça login para continuar</h5>
      </div>
      <div class="modal-body">
        <p>Por questões de segurança, você precisa estar logado para enviar este formulário. Faça login ou cadastre-se para continuar!</p>
      </div>
      <div class="modal-footer">
        <button class="btn-primary" (click)="redirecionarParaCadastro()">Criar Conta</button>
        <button class="btn-primary" (click)="redirecionarParaLogin()">Entrar</button>
      </div>
    </div>
  </div>
  