<app-navblue [categoryName]="'FUTEBOL'" [categoryImage]="'images/footballnav.png'"></app-navblue>
<app-action-bar></app-action-bar>

<section>
  <div class="titulo-principais">
    <h2 class="titulo">Confira os eventos e workshops com Futebol</h2>
    <h3 class="subtitulo">Eventos</h3>
  </div>
   
  <div class="eventos-container">
    <div class="eventos">
      <div class="evento">
        <img src="images/evento3.png" alt="Torneio de Futebol">
      </div>
      <div class="evento">
        <img src="images/evento1.png" alt="Torneio Beneficente">
      </div>
      <div class="evento">
        <img src="images/evento2.png" alt="Torneio de Fim de Ano">
      </div>
      <div class="evento">
        <img src="images/evento6.png" alt="Torneio de Fim de Ano">
      </div>
    </div>
  </div>
  
  <h3 class="subtitulo2">Workshops</h3>
  
  <div class="eventos-container">
    <div class="eventos">
      <div class="evento">
        <img src="images/evento5.png" alt="Torneio de Futebol">
      </div>
      <div class="evento">
        <img src="images/evento4.png" alt="Torneio de Futebol">
      </div>     
    </div>
  </div>
</section>

<app-footer></app-footer>  
