section {
  padding: 22px 154px 0 166px;
}
  
.titulo {
  color: #043B64;
  text-align: left;
  margin: 0; 
  font-size: 20px;
  padding-bottom: 8px;
}

.subtitulo {
  color: #E15C31;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 8px; 
  font-size: 18px;
}

.subtitulo2 {
  color: #E15C31;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 8px; 
  font-size: 18px;
}

.eventos-container {
  padding-bottom: 12px;
}

.eventos {
  display: flex;
  justify-content: flex-start; 
  flex-wrap: wrap; 
  gap: 24px;
}

.evento {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start;
}


.carousel {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  user-select: none;
  white-space: nowrap;
}

.carousel::-webkit-scrollbar {
  display: none; 
}

.evento {
  flex-shrink: 0;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.evento img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;
}

h3 {
  margin: 0;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  section {
    padding: 22px 108px 0 114px;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 22px 0 0 62px;
  }

  .titulo {
    font-size: 20px;
    padding-bottom: 8px;
  }
  
  .subtitulo {
    padding-top: 16px;
    padding-bottom: 8px; 
    font-size: 18px;
  }
  
  .subtitulo2 {
    padding-top: 16px;
    padding-bottom: 8px; 
    font-size: 18px;
  }
  
  .eventos-container {
    padding-bottom: 12px;
  }
  

  .carousel {
    gap: 16px;
  }

  .evento {
    border-radius: 10px;
  }
  
  .evento img {
    width: 184px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding: 18px 0 0 38px;
  }

  .titulo {
    font-size: 18px;
    padding-bottom: 8px;
    padding-right: 42px;
  }
  
  .subtitulo {
    padding-top: 14px;
    padding-bottom: 8px; 
    font-size: 16px;
  }
  
  .subtitulo2 {
    padding-top: 14px;
    padding-bottom: 8px; 
    font-size: 16px;
  }
  
  .eventos-container {
    padding-bottom: 12px;
  }
  
 
  .carousel {
    gap: 16px;
  }

  .evento {
    border-radius: 10px;
  }
  
  .evento img {
    width: 152px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 380px) {
  section {
    padding: 18px 0 0 30px;
  }

  .titulo {
    font-size: 16px;
    padding-bottom: 8px;
    padding-right: 34px;
  }
  
  .subtitulo {
    padding-top: 14px;
    padding-bottom: 8px; 
    font-size: 14px;
  }
  
  .subtitulo2 {
    padding-top: 14px;
    padding-bottom: 8px; 
    font-size: 14px;
  }
  
  .eventos-container {
    padding-bottom: 12px;
  }
  

  .carousel {
    gap: 16px;
  }

  .evento {
    border-radius: 10px;
  }
  
  .evento img {
    width: 140px;
    border-radius: 10px;
  }
}