  <div class="profile-container">
    <div class="company-header">
      <img class="company-logo" src="images/cursos.png" alt="Logo da Empresa">
      <div class="company-info">
        <h2>Centro de Treinamento Remo</h2>
        <p>São Paulo – SP</p>
      </div>
    </div>
  
    <div class="contact-info">
      <div class="contact-row">
        <div class="contact-item">
          <span>E-mail</span>
          <p>contatocentroremo.com.br</p>
        </div>
        <div class="contact-item">
          <span>CNPJ</span>
          <p>45.4560.138/0001-30</p>
        </div>
      </div>
      <div class="contact-item">
        <span>Telefone</span>
        <p>55 11 97456-6329</p>
      </div>
    </div>

    <h3 class="section-title">Cursos disponíveis</h3>

    <div class="course-card">
      <div>
        <h4 class="course-title">Futebol Infantil</h4>
        <div class="course-image-container">
          <img class="course-image" src="images/remoschool1.png">
        </div>
      </div>
      <div class="course-info">
        <h3 class="training-title">Centro de Treinamento Remo</h3>
        <h4 class="sub-title">Centro de Treinamento Infanto-Juvenil</h4>
        <p class="description">
          O Centro de Treinamento Remo é ideal para jovens atletas, oferecendo formação de qualidade com técnicas avançadas e um ambiente muito estimulante.
        </p>
        <button class="edit-button">
            <span class="material-icons">edit</span>
          </button>          
      </div>
    </div>