section {
  padding: 32px 168px 0 56px;
}

.informacoes {
  display: flex;
  gap: 48px;
  width: 100%;
}

.image {
  width: 160px;
  height: 160px;
  display: block;
  justify-items: center;
}

.infos_principais {
  display: block;
  align-self: center;
  width: 50%;
  padding-top: 16px;
}

.nome {
  color: #17616E;
  font-family: dm sans;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.8px;
  margin: 0;
  padding-bottom: 8px;
}

.local {
  color: #403939;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-bottom: 72px;
}

.edit {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0;
  cursor: pointer;
}

.material-icons {
  font-size: 22px;
}

.icone_edit {
  width: 22px;
  height: 22px;
  color: #17616E;
}

h3 {
  height: 16px;
  display: flex;
  font-size: 16px;
  padding-left: 6px;
  margin: 0;
  color: #17616E;
  font-family: Dm Sans;
  font-weight: 500;
}

.social-icons {
  padding-top: 12px;
}

.socials {
  padding-right: 12px;
  width: 28px;
  height: 28px;
}

.informacoes_dois {
  padding-top: 40px;
  width: 440px;
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 0;
  padding-bottom: 6px;
  color: #17616E;
}

p {
  margin: 0;
  padding-bottom: 16px;
  color: #403939;
  font-size: 16px;
}  

/* Cursos Disponíveis */
.section-title {
  font-size: 18px;
  padding-top: 50px;
  font-weight: 600;
  color: #17616E;
  text-align: left;
}

.course-card {
  width: 95%;
  max-width: 850px;
  border: 1px solid #17616E;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.course-image-container {
  flex: 0 0 200px;
}

.course-image {
  width: 200px; 
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.course-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.course-title {
  font-size: 18px;
  font-weight: 500;
  color: #17616E;
  margin: 0; 
  padding: 0 0 8px 0;
}

.training-title {
  font-size: 18px;
  font-weight: 500;
  color: #005f73;
  margin: 0;
  padding: 24px 0 0;
}

.sub-title {
  font-size: 16px;
  font-weight: 500;
  color: #403939;
  margin: 0;
  padding: 0 0 0;
}

.description {
  text-align: justify;
  font-size: 15px;
  line-height: 1.4;
  color: #2e2b2b;
  margin: 0;
  padding: 0 32px 0 0;
}

.edit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #17616E;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.edit-button:hover {
  color: #005f73;
}

.material-icons {
  font-size: 24px; 
}