.title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
  color: #E15C31;
  margin-top: 0; 
}

.categorias-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 150px 20px 140px;
}

button.seta-direita {
  background: none;
  border: none;
  color: #E15C31;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

button.seta-direita .material-icons {
  font-size: 32px;
}

.categorias-container {
  padding: 30px 150px; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0;
}

.categoria {
  text-align: center;
  cursor: pointer;
  width: 100px;
}

.icone-categoria {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #E15C31;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icone-categoria .material-icons {
  font-size: 48px;
  color: white;
}

p {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #E15C31;
}


/* Responsividade */
@media (max-width: 1024px) {
  .title {
    font-size: 20px; 
    margin-top: 0; 
  }

  .categorias-header {
    padding: 10px 100px 20px 100px; 
  }

  .categorias-container {
    padding: 30px; 
    margin: 0 70px; 
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    gap: 5px; 
  }

  .categoria {
    width: calc(25% - 5px); 
    text-align: center;
    cursor: pointer;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .icone-categoria {
    width: 80px;  
    height: 80px; 
  }

  .icone-categoria .material-icons {
    font-size: 40px; 
  }

  p {
    font-size: 12px; 
    margin-top: 5px; 
  }

  button.seta-direita {
    font-size: 20px; 
    padding-right: 20px;
  }

  button.seta-direita .material-icons {
    font-size: 28px; 
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 18px; 
  }

  .categorias-header {
    padding: 10px 50px 20px 50px; 
  }

  .categorias-container {
    padding: 20px; 
    margin: 0 70px; 
  }

  .categoria {
    width: calc(25% - 5px); 
  }

  .icone-categoria {
    width: 70px;  
    height: 70px; 
  }

  .icone-categoria .material-icons {
    font-size: 36px; 
  }

  p {
    font-size: 12px; 
  }

  button.seta-direita {
    font-size: 18px; 
  }

  button.seta-direita .material-icons {
    font-size: 24px; 
  }
}

@media (max-width: 508px) {
  .title {
    font-size: 16px; 
  }

  .categorias-header {
    padding: 10px 20px 20px 20px; 
  }

  .categorias-container {
    padding: 10px; 
    margin: 0 70px; 
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
  }

  .categoria {
    width: calc(33.33% - 5px); 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }

  .icone-categoria {
    width: 60px;  
    height: 60px; 
  }

  .icone-categoria .material-icons {
    font-size: 32px; 
  }

  p {
    font-size: 10px; 
  }

  button.seta-direita {
    font-size: 16px; 
  }

  button.seta-direita .material-icons {
    font-size: 24px; 
  }
}
