<section>
    <div class="informacoes">
      <div class="profile_image">
        <img src="images/profile.png" alt="">
      </div>
      <div class="infos_principais">
        <h1 class="nome">Caterine Santos</h1>
        <h2 class="local">Barueri - SP</h2>
        <div class="edit_perfil">
          <button class="edit" href="#">
            <a href="#" class="icone_edit"><i class="material-icons">edit</i></a>
            <h3>Editar Perfil</h3>
          </button>
        </div>
      </div>
    </div>
    <div class="informacoes_dois">
      <div class="e-mail">
        <h4>E-mail</h4>
        <p>caterine.snts&#64;gmail.com</p>
      </div>
    </div>
  </section>
