section {
    padding: 32px 0 0 56px;
}

.informacoes {
    display: flex;
    justify-content: space-evenly;
    width: 480px;
}

.image {
    width: 184px;
    height: 184px;
    display: block;
    justify-items: center;
}

.infos_principais {
    padding-left: 64px;
    display: block;
    align-self: center;
}

.nome {
    color: #043B64;
    font-family: dm sans;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.8px;
    margin: 0;
    padding-bottom: 8px;
}

.local {
    color: #403939;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding-bottom: 72px;
}

.edit {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 0;
    cursor: pointer;
}

.material-icons {
    font-size: 22px;
}

.icone_edit {
    width: 22px;
    height: 22px;
    color: #043B64;
}

h3 {
    height: 16px;
    display: flex;
    font-size: 16px;
    padding-left: 6px;
    margin: 0;
    color: #043B64;
    font-family: Dm Sans;
    font-weight: 500;
}


.social-icons {
    padding-top: 12px;
}
  
.socials {
    padding-right: 12px;
    width: 28px;
    height: 28px;
}

.informacoes_dois {
    padding-top: 40px;
    width: 440px;
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
}

h4 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.6px;
    margin: 0;
    padding-bottom: 6px;
    color: #043B64;
}

p {
    margin: 0;
    padding-bottom: 16px;
    color: #403939;
    font-size: 16px;
}  

/* responsividade */
@media screen and (max-width: 1024px) {
    section {
        padding: 32px 0 0 12px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 32px 66px 0 20px;
    }

    .informacoes {
        align-items: center;
        width: 100%;
        justify-content: start;
    }

    .image {
        width: 120px;
        height: 120px;
        padding-right: 20px;
    }

    .infos_principais {
        padding-left: 0;
        text-align: start;
        padding-left: 16px;
    }

    .nome {
        font-size: 18px;
        padding-bottom: 4px;
    }

    .local {
        font-size: 16px;
        padding-bottom: 32px;
        padding-left: 2px;
    }

    .material-icons {
        font-size: 18px;
    }
    
    .icone_edit {
        width: 18px;
        height: 18px;
        color: #043B64;
    }
    
    h3 {
        height: 14px;
        font-size: 14px;
        padding-left: 6px;
    }

    .informacoes_dois {
        width: 100%;
    }

    .esquerda, .direita {
        width: 100%;
        text-align: start;
    }

    .socials {
        padding-bottom: 12px;
        padding-right: 10px;
        width: 24px;
        height: 24px;
    }

    .social-icons {
        padding-top: 0;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 6px;
    }
    
    p {
        font-size: 14px;
        margin: 0;
        padding-bottom: 16px;
        color: #403939;
    }
}

@media screen and (max-width: 480px) {
    section {
        padding: 24px 44px 0 0;
    }

    .informacoes {
        align-items: center;
        width: 100%;
        justify-content: start;
    }

    .image {
        width: 120px;
        height: 120px;
        padding-right: 20px;
    }

    .infos_principais {
        padding-left: 0;
        text-align: start;
        padding-left: 16px;
    }

    .nome {
        font-size: 18px;
        padding-bottom: 4px;
    }

    .local {
        font-size: 16px;
        padding-bottom: 32px;
        padding-left: 2px;
    }

    .material-icons {
        font-size: 18px;
    }
    
    .icone_edit {
        width: 18px;
        height: 18px;
        color: #043B64;
    }
    
    h3 {
        height: 14px;
        font-size: 14px;
        padding-left: 6px;
    }

    .informacoes_dois {
        width: 100%;
        gap: 24px;
    }

    .esquerda, .direita {
        width: 100%;
        text-align: start;
    }

    .socials {
        padding-bottom: 12px;
        padding-right: 10px;
        width: 24px;
        height: 24px;
    }

    .social-icons {
        padding-top: 0;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 6px;
    }
    
    p {
        font-size: 14px;
        margin: 0;
        padding-bottom: 16px;
        color: #403939;
    }
}

@media screen and (max-width: 380px) {
    section {
        padding: 24px 30px 0 0;
    }

    .informacoes {
        align-items: center;
        width: 100%;
        justify-content: start;
    }

    .image {
        width: 104px;
        height: 104px;
        padding-right: 0;
    }

    .infos_principais {
        text-align: start;
        padding-left: 28px;
    }

    .nome {
        font-size: 16px;
        padding-bottom: 4px;
    }

    .local {
        font-size: 14px;
        padding-bottom: 32px;
        padding-left: 2px;
    }

    .informacoes_dois {
        gap: 0;
        width: 100%;
        padding-left: 0%;
        padding-top: 24px;
    }

    .esquerda, .direita {
        width: 100%;
        padding: 0 16px;
        text-align: start;
    }

    .socials {
        padding-bottom: 14px;
        padding-right: 8px;
        width: 24px;
        height: 24px;
    }

    h4 {
        font-size: 14px;
        padding-bottom: 2px;
    }
    
    p {
        margin: 0;
        padding-bottom: 14px;
        color: #403939;
        font-size: 14px;
    }

    .material-icons {
        font-size: 18px;
    }
    
    .icone_edit {
        width: 18px;
        height: 18px;
        color: #043B64;
    }
    
    h3 {
        height: 16px;
        font-size: 14px;
        padding-left: 6px;
    }
}

@media screen and (max-width: 320px) {
    .informacoes {
        width: 90%;
    }

    .image {
        width: 80px;
        height: 80px;
        padding-right: 0;
    }

    .infos_principais {
        padding-left: 12px;
    }

    .nome {
        font-size: 14px;
        padding-bottom: 4px;
    }

    .local {
        font-size: 12px;
        padding-bottom: 24px;
        padding-left: 2px;
    }

    .informacoes_dois {
        flex-direction: column;
        align-items: center;
        width: 84%;
        padding-left: 0%;
        padding-top: 20px;
    }

    .esquerda, .direita {
        width: 100%;
        padding: 0 16px;
        text-align: start;
    }

    .socials {
        padding-bottom: 14px;
        padding-right: 6px;
        width: 20px;
        height: 20px;
    }

    h4 {
        font-size: 12px;
        padding-bottom: 2px;
    }
    
    p {
        margin: 0;
        padding-bottom: 14px;
        color: #403939;
        font-size: 12px;
    }

    .material-icons {
        font-size: 16px;
    }
    
    .icone_edit {
        width: 16px;
        height: 16px;
    }
    
    h3 {
        height: 16px;
        font-size: 12px;
        padding-left: 6px;
    }
}