<section>
  <div class="informacoes">
    <div class="profile_image">
      <img class="image" src="images/profile.png" alt="">
    </div>
    <div class="infos_principais">
      <h1 class="nome">Caterine Santos</h1>
      <h2 class="local">Barueri - SP</h2>
      <div class="edit_perfil">
        <button class="edit" routerLink="/profile/dados/editar">
          <a class="icone_edit"><i class="material-icons">edit</i></a>
          <h3>Editar Perfil</h3>
        </button>
      </div>  
    </div>
  </div>
  <div class="informacoes_dois">
    <div class="esquerda">
      <div class="e-mail">
        <h4>E-mail</h4>
        <p>caterine.snts&#64;gmail.com</p>
      </div>
      <div class="telefone">
        <h4>Telefone</h4>
        <p>(11) 97456-6329</p>
      </div>
      <div class="social-icons">
        <h4>Adicionar</h4>
        <a href="https://facebook.com" target="_blank" aria-label="Facebook"><img class="socials" src="images/facebook.png"></a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram"><img class="socials" src="images\ig.png"></a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter"><img class="socials" src="images/twitter.png"></a>
      </div>
    </div>
    <div class="direita">
      <div class="nascimento">
        <h4>Data de Nascimento</h4>
        <p>25/08/2000</p>
      </div>
      <div class="telefone">
        <h4>Gênero</h4>
        <p>Feminino</p>
      </div>
    </div>
  </div>
</section>