<section>
    <div class="action-carousel">
        <button class="arrow left" *ngIf="showLeftArrow" (click)="scrollCarrossel(-1)">
            <span class="material-icons">chevron_left</span>
        </button>

        <div class="action-container">
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'practiceyourhobby'}" (click)="navigateTo('reading-practiceyourhobby')">PRATIQUE SEU HOBBY</button>
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'origin'}" (click)="navigateTo('reading-origin')">ORIGEM</button>
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'fundamentals'}" (click)="navigateTo('reading-fundamentals')">FUNDAMENTOS</button>
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'benefits'}" (click)="navigateTo('reading-benefits')">BENEFÍCIOS</button>
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'materials'}" (click)="navigateTo('reading-materials')">MATERIAIS</button>
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'tips'}" (click)="navigateTo('reading-tips')">DICAS</button>
            <button class="botao" [ngClass]="{'ativo': selectedButton === 'events'}" (click)="navigateTo('reading-events')">EVENTOS</button>
        </div>

        <button class="arrow right" *ngIf="showRightArrow" (click)="scrollCarrossel(1)">
            <span class="material-icons">chevron_right</span>
        </button>
    </div>
</section>

<router-outlet></router-outlet>