section {
  flex-wrap: wrap;
  padding-top: 80px;
}

.carousel-header {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  justify-content: space-between;
  scrollbar-width: none;
  user-select: none;
  cursor: grab;
  height: 550px;
}

.carousel:active {
  cursor: grabbing;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 310px;
  height: 536px;
  border: 1px solid #043B64;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  margin: 0;
}

.card-image {
  height: 180px;
  padding: 12px 12px 0 12px;
  border-radius: 16px;
}

.card-title {
  font-size: 16px;
  color: #043B64;
  padding-top: 2px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 16px 12px;
  margin: 0;
  text-align: justify;
}

.card-category {
  color: #403939;
  font-weight: bold;
  padding-left: 16px;
  padding-bottom: 8px;
  font-size: 16px;
  margin: 0;
}

.card-description {
  color: #403939;
  padding: 0 18px;
  font-weight: 500;
  font-size: 14px;
  text-align: justify;
  margin: 0;
}

.card-info {
  display: flex;
  align-items: center;
  padding: 0 16px 8px 4px;
  font-size: 14px;
  color: #403939;
}

.material-icons {
  padding: 9px 5px 5px 12px;
  padding-right: 8px;
  color: #e15c31;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 16px;
}

.price {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price-highlight {
  color: #e15c31;
  font-weight: bold;
}

.price-description {
  color: #403939;
  font-size: 12px;
}

.card-button {
  background-color: #043B64;
  color: #ffffff;
  border: 1px solid #043B64;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: dm sans;
}

.card-button:hover {
  background-color: transparent;
  color: #043B64;
  font-weight: 500;
  border: 1px solid #043B64;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
  .carousel {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding-top: 72px;
  }

  .carousel {
    gap: 24px;
    height: 600px;
  }

  .card {
    width: 256px;
    height: 560px;
    border-radius: 24px;
  }

  .card-image {
    height: 160px;
    padding: 12px 12px 0 12px;
    border-radius: 16px;
  }

  .card-title {
    font-size: 15px;
    padding-left: 16px;
  }

  .card-category {
    padding-left: 16px;
    font-size: 14px;
  }

  .card-description {
    padding: 0 16px 8px;
    font-size: 14px;
    text-align: justify;
  }

  .card-info {
    padding-left: 5px;
    padding-right: 16px;
    font-size: 14px;
  }

  .material-icons {
    padding: 9px 5px 5px 12px;

  }

  .card-footer {
    padding: 5px 20px 25px;
  }

  .price {
    gap: 4px;
    flex-direction: column;
  }

  .price-highlight {
    font-weight: bold;
  }

  .price-description {
    font-size: 12px;
  }

  .card-button {
    border-radius: 30px;
    padding: 8px 22px;
    font-size: 14px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding-top: 72px;
  }

  .carousel {
    gap: 24px;
    height: 600px;
  }

  .card {
    width: 232px;
    height: 566px;
    border-radius: 24px;
  }

  .card-image {
    height: 160px;
    padding: 12px 12px 0 12px;
    border-radius: 16px;
  }

  .card-title {
    font-size: 14px;
    padding-left: 16px;
  }

  .card-category {
    padding-left: 16px;
    font-size: 13px;
  }

  .card-description {
    padding: 0 16px 8px;
    font-size: 13px;
    text-align: justify;
  }

  .card-info {
    padding-left: 5px;
    padding-right: 16px;
    font-size: 13px;
  }

  .material-icons {
    padding: 9px 5px 5px 12px;

  }

  .card-footer {
    padding: 5px 20px 25px;
  }

  p {
    margin: 0;
  }

  .price {
    gap: 4px;
    flex-direction: column;
  }

  .price-highlight {
    font-weight: bold;
  }

  .price-description {
    font-size: 12px;
  }

  .card-button {
    border-radius: 30px;
    padding: 8px 22px;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding-top: 56px;
  }

  .carousel {
    gap: 24px;
    height: 600px;
  }

  .card {
    width: 232px;
    height: 556px;
    border-radius: 24px;
  }

  .card-image {
    height: 160px;
    padding: 12px 12px 0 12px;
    border-radius: 16px;
  }

  .card-title {
    font-size: 14px;
    padding-left: 16px;
  }

  .card-category {
    padding-left: 16px;
    font-size: 13px;
  }

  .card-description {
    padding: 0 16px 8px;
    font-size: 13px;
    text-align: justify;
  }

  .card-info {
    padding-left: 5px;
    padding-right: 16px;
    font-size: 13px;
  }

  .material-icons {
    padding: 9px 5px 5px 12px;

  }

  .card-footer {
    padding: 5px 20px 25px;
  }

  p {
    margin: 0;
  }

  .price {
    gap: 4px;
    flex-direction: column;
  }

  .price-highlight {
    font-weight: bold;
  }

  .price-description {
    font-size: 12px;
  }

  .card-button {
    border-radius: 30px;
    padding: 8px 22px;
    font-size: 12px;
    white-space: nowrap;
  }
}