<div class="account-container">
    <div class="section">
      <h3>Informações de login</h3>
      <div class="info">
        <span>Email</span>
        <a href="#">Alterar Email</a>
      </div>
      <p class="email">centrodetreinamentoremo&#64;gmail.com</p>
      <div class="info">
        <span>Senha</span>
        <a href="#">Alterar Senha</a>
      </div>
      <p class="password">**********</p>
    </div>
  
    <div class="section">
      <h3>Gerenciamento de sessões</h3>
      <p>Você tem 1 sessões ativas</p>
      <button class="view-sessions"  [routerLink]="['/company/authsessions/sessoes']">Ver sessões</button>
    </div>
  
    <a href="#" class="delete-account">Excluir sua conta</a>
  </div>
