<div class="background-container">
    <header>
      <div class="logo">
          <a [routerLink]="['/home']">
              <img src="images/logobranca.png">
          </a>
      </div>
      <div class="nav-container">
          <nav>
              <a [routerLink]="['/home']" class="nav-link">Hobbies</a>
              <a [routerLink]="['/quizdash']" class="nav-link">Quiz</a>
              <a [routerLink]="['/home']" class="nav-link nav-link-contate">Contate-nos</a>
          </nav>
          <div class="user-actions">
              <a href="#" class="icon-link"><i class="material-icons">search</i></a>
              <a [routerLink]="['/profile']" class="icon-link"><i class="material-icons">person</i></a>
          </div>
      </div>
  </header>

    <div class="dynamic-content">
        <div class="category-info">
          <img [src]="categoryImage" alt="{{ categoryName }} Image" />
          <h1>{{ categoryName }}</h1> <!-- Nome da categoria -->
        </div>
      </div>

      <div class="info-container">
        <p class="description-text">
          O futebol é um dos esportes mais populares e praticados do mundo, com milhões de fãs e atletas espalhados por todos os continentes. Jogado entre duas equipes de onze jogadores cada, o objetivo principal é marcar gols no adversário.
        </p>
        <div class="investment-box">
          <h2 class="investment-minimium">INVESTIMENTO</h2>
          <span class="minimium inline-text">mínimo</span>
          <span class="investment-value inline-text">RS30,00</span>
          <p class="cost-note">*custo de forma autônoma</p>
        </div>
      
  </div>
  