<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>


<div class="fundamentos-container">
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>DECODIFICAÇÃO</h3>
        <p>Converte letras e símbolos em sons e palavras para leitura fluente.
        </p>
      </div>
      <img src="images/decodificacao.jpg" alt="">
    </div>
  
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>COMPREENSÃO</h3>
        <p>Entende o conteúdo, identifica ideias e interpreta o texto.
        </p>
      </div>
      <img src="images/compreensao.jpg" alt="">
    </div>
  
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>VOCABULÁRIO</h3>
        <p>Amplia o entendimento, facilitando a leitura de textos complexos.</p>
      </div>
      <img src="images/vocabulario.jpg" alt="">
    </div>
  
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>INTERPRETAÇÃO CRÍTICA</h3>
        <p>Analisa, avalia e reflete sobre o conteúdo lido.
        </p>
      </div>
      <img src="images/interpretacao.jpg" alt="">
    </div>
  
 
<app-footer></app-footer>