header {
  padding: 50px 64px 32px;
}

.logo img{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.fundo {
  width: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.fundo img {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .fundo img {
    display: none;
  }
}