<app-navblue [categoryName]="'DANÇA'" 
[categoryImage]="'images/dancenavv.png'"
[description]="'A dança é uma forma de expressão universal que combina movimentos corporais e música, capaz de encantar pessoas de todas as idades e culturas. Seja como passatempo ou carreira profissional, dançar oferece benefícios físicos e emocionais, permitindo uma conexão profunda com diferentes estilos e tradições ao redor do mundo.'"
[minInvestment]="'R$70,00'"></app-navblue>
<app-dance-action-bar></app-dance-action-bar>


<section>
  <div class="titulo-principais">
    <h2 class="titulo">Confira os eventos e workshops com Dança</h2>
    <h3 class="subtitulo">Eventos</h3>
  </div>
    
  <div class="eventos-container">
    <div class="eventos">
      <div class="evento">
        <img src="images/evento-2.jpeg" alt="Torneio Beneficente">
      </div>
      <div class="evento">
        <img src="images/evento-4.png" alt="Torneio de Fim de Ano">
      </div>
    </div>
  </div>
  
  <h3 class="subtitulo2">Workshops</h3>
  
  <div class="eventos-container">
    <div class="eventos">
      <div class="evento">
        <img src="images/workshop-1.jpg" alt="Torneio de Futebol">
      </div>
      <div class="evento">
        <img src="images/workshop-2.jpeg" alt="Torneio de Futebol">
      </div>     
    </div>
  </div>
</section>
  
  <app-footer></app-footer>  
  