section {
  padding: 12px 164px 24px 166px;
}

.container {
  display: flex;
  margin: 0;
  padding-bottom: 24px;
}

.texto-principal {
  flex-grow: 1;
}

.texto-principal h1 {
  font-size: 3rem;
  color: #403939;
  margin: 0;
  line-height: 1.5;
}

.destaque {
  color: #e15c31;
}

.texto-principal p {
  font-size: 18px;
  color: #e15c31;
  padding: 14px 0 0 4px;
  margin: 0;
}

.imagem {
  display: flex;
  align-items: center;
  padding-left: 360px;
}

.imagem img {
  width: 300px;
  height: auto;
}

.icone-compartilhar {
  position: absolute; 
  top: 150px;
  right: 175px;     
  font-size: 1.5rem;
  color: #e15c31;
  cursor: pointer;
}

.divisor {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 24px;
}

.linha {
  flex-grow: 1; 
  height: 1px; 
  background-color: #E15C31;
}

.texto-divisor {
  white-space: nowrap;
  color: #403939; 
  font-size: 18px;
  margin: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 384px;
  border: 1px solid #e15c31;
  border-radius: 20px;
  display: flex;
  background-color: #fff;
  padding-bottom: 20px;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: fill;
  border-radius: 20px 20px 1px 1px;
}

.card-title {
  font-size: 22px;
  color: #E15C31;
  padding: 16px 0 16px 0;
  text-transform: uppercase;
  margin: 0;
}

.card-description {
  color: #403939;
  padding: 0 20px 24px;
  font-weight: 500;
  text-align: justify; 
  margin: 0;
}

.botao {
  padding: 0 20px;
  align-self: stretch; 
  display: flex;
  justify-content: center;
}

.card-button {
  background-color: #e15c31;
  color: #ffffff;
  border: 1px solid #E15C31;
  border-radius: 16px;
  padding: 10px 40px; 
  cursor: pointer; 
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 500;
  font-family: dm sans;
}

.card-button:hover {
  background-color: #ffffff;
  color: #E15C31;
  font-weight: bold;
  font-family: dm sans;
}

/* Responsividade */
@media (max-width: 1024px) {
  section {
    padding: 12px 108px 24px 114px;
  }

  .texto-principal h1 {
    font-size: 2.8rem;
  }

  .imagem {
    padding-left: 170px;
  }

  .icone-compartilhar {
    top: 150px;
    right: 108px;     
  }

  .texto-divisor {
    white-space: nowrap;
    color: #403939; 
    font-size: 16px;
    margin: 0;
  }

  .card-grid {
    gap: 20px;
  }
  
  .card {
    height: 360px;
    border-radius: 20px;
  }
  
  .card-image {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 1px 1px;
  }
  
  .card-title {
    font-size: 20px;
    padding: 12px 0 14px 0;
  }
  
  .card-description {
    font-size: 15px;
    padding: 0 20px 24px;
    font-weight: 500;
  }
  
  .card-button {
    border-radius: 16px;
    padding: 10px 31px; 
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  section {
    padding: 12px 66px 24px 66px;
  }

  .texto-principal h1 {
    font-size: 2.2rem;
  }

  .texto-principal p {
    font-size: 16px;
    padding: 14px 0 0 4px;
  }

  .imagem {
    padding-left: 80px;
  }

  .imagem img {
    width: 232px;
    height: auto;
  }

  .icone-compartilhar {
    top: 136px;
    right: 64px;     
  }

  .texto-divisor {
    white-space: nowrap;
    color: #403939; 
    font-size: 16px;
    margin: 0;
  }

  .card-grid {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .card {
    height: 360px;
    border-radius: 20px;
  }
  
  .card-image {
    width: 100%;
    height: 140px;
    border-radius: 20px 20px 1px 1px;
  }
  
  .card-title {
    font-size: 20px;
    padding: 12px 0 14px 0;
  }
  
  .card-description {
    font-size: 15px;
    padding: 0 20px 24px;
    font-weight: 500;
  }
  
  .card-button {
    border-radius: 16px;
    padding: 10px 31px; 
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  section {
    padding: 12px 44px 24px 42px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
  }

  .texto-principal h1 {
    font-size: 1.4rem;
  }

  .texto-principal p {
    font-size: 14px;
    padding: 14px 0 0 4px;
  }

  .imagem {
    display: none;
  }

  .icone-compartilhar {
    top: 120px;
    right: 42px;     
  }

  .texto-divisor {
    white-space: normal;
    text-align: center;
    max-width: 240px;
    color: #403939; 
    font-size: 12px;
    margin: 0;
  }
  
  .card {
    height: 300px;
    border-radius: 20px;
  }
  
  .card-image {
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 1px 1px;
  }
  
  .card-title {
    font-size: 16px;
    padding: 12px 0 8px 0;
  }
  
  .card-description {
    font-size: 13px;
    padding: 0 16px 24px;
    font-weight: 500;
  }
  
  .card-button {
    border-radius: 13px;
    padding: 10px 25px; 
    font-size: 13px;
  }
}

@media (max-width: 380px) {
  section {
    padding: 12px 36px 24px 34px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
  }

  .texto-principal h1 {
    font-size: 1.4rem;
  }

  .texto-principal p {
    font-size: 14px;
    padding: 14px 0 0 4px;
  }

  .imagem {
    display: none;
  }

  .icone-compartilhar {
    top: 116px;
    right: 42px;     
  }

  .material-icons {
    font-size: 22px;
  }

  .texto-divisor {
    white-space: normal;
    text-align: center;
    max-width: 240px;
    color: #403939; 
    font-size: 12px;
    margin: 0;
  }
  
  .card {
    height: 300px;
    border-radius: 20px;
  }
  
  .card-image {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 1px 1px;
  }
  
  .card-title {
    font-size: 16px;
    padding: 12px 0 8px 0;
  }
  
  .card-description {
    font-size: 12px;
    padding: 0 16px 16px;
    font-weight: 500;
  }

  .botao {
    padding: 0 14px;
  }
  
  .card-button {
    border-radius: 13px;
    padding: 10px 20px; 
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  section {
    padding: 12px 30px 24px;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 cards por linha */
  }

  .texto-principal h1 {
    font-size: 1.2rem;
  }

  .texto-principal p {
    font-size: 13px;
    padding: 14px 0 0 4px;
  }

  .imagem {
    display: none;
  }

  .icone-compartilhar {
    top: 108px;
    right: 42px;     
  }

  .material-icons {
    font-size: 20px;
  }

  .divisor {
    padding-bottom: 18px;
  }

  .texto-divisor {
    white-space: normal;
    text-align: center;
    max-width: 200px;
    color: #403939; 
    font-size: 12px;
    margin: 0;
  }
  
  .card {
    height: 300px;
    border-radius: 20px;
  }
  
  .card-image {
    width: 100%;
    height: 96px;
    border-radius: 20px 20px 1px 1px;
  }
  
  .card-title {
    font-size: 15px;
    padding: 12px 0 8px 0;
  }
  
  .card-description {
    font-size: 12px;
    padding: 0 14px 16px;
    font-weight: 500;
  }

  .botao {
    padding: 0 8px;
  }
  
  .card-button {
    border-radius: 13px;
    padding: 10px 13px; 
    font-size: 12px;
  }
}