<header>
    <div class="logo">
        <a [routerLink]="['/home']">
            <img src="images/logo1.png">
        </a>
    </div>
    <div class="nav-container">
        <nav>
            <a [routerLink]="['/home']" class="nav-link">Hobbies</a>
            <a [routerLink]="['/quizdash']" class="nav-link">Quiz</a>
            <a [routerLink]="['/home']" class="nav-link nav-link-contate">Contate-nos</a>
        </nav>
        <div class="user-actions">
            <a href="#" class="icon-link"><i class="material-icons">search</i></a>
            <a [routerLink]="['/profile']" class="icon-link"><i class="material-icons">person</i></a>
        </div>
    </div>
</header>



