<app-navblue [categoryName]="'FUTEBOL'" 
[categoryImage]="'images/footballnav.png'"
[description]="' O futebol é um dos esportes mais populares e praticados do mundo, com milhões de fãs e atletas espalhados por todos os continentes. Jogado entre duas equipes de onze jogadores cada, o objetivo principal é marcar gols no adversário.'"
[minInvestment]="'R$30,00'"></app-navblue>
<app-action-bar></app-action-bar>
<router-outlet></router-outlet>

<section class="tips-container">
  <p class="tips-title">Os praticantes possuem ótimas dicas para você!</p>

  <div class="tips-gallery">
    <div *ngFor="let tip of tips" class="tip-container">
      <p class="tip-text">{{ tip }}</p>
    </div>
  </div>

  <div class="spacing"></div>

  <p class="tips-share">Compartilhe uma dica você também!</p>

  <div class="ratings-container">
    <div class="submit-rating">
      <textarea [(ngModel)]="newTip" class="rating-input" placeholder="Adicione uma dica..."></textarea>
      <button (click)="submitTip()" class="submit-button material-icons">send</button>
    </div>
  </div>
</section>
  
<app-footer></app-footer>  