
.tips-title {
    color: #043B64;
    font-size: 22px;
    font-weight: bold;
    padding-left: 170px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.tips-share {
    color: #043B64;
    font-size: 18px;
    font-weight: 500;
    padding-left: 170px;
    padding-top: 15px;
}

.tips-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 15px;
    max-width: 60%;
    padding-left: 170px;
    padding-right: 740px;
}

.tip-container {
    background-color: #fff;
    border: 2px solid #043B64;
    border-radius: 20px;
    padding: 15px 25px;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: border-box;
    display: inline-block;
    min-height: 60px;
}

.tips-gallery .tip-container:nth-child(2),
.tips-gallery .tip-container:nth-child(3) {
    grid-column: span 2;
}

.tip-text {
    color: #403939;
    font-size: 17px;
    margin: 0;
}


.spacing {
    height: 20px;
}


.ratings-container {
    background-color: #fff;
    padding: 22px 0;
    display: flex;
    flex-direction: column;
    padding-left: 170px;
    width: 930px;
}

.submit-rating {
    background-color: transparent;
    border: 1px solid #043B64;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    flex-grow: 1;
    width: 60%;
    height: 100px;
    visibility: visible;
}

.rating-input {
    width: 60%;
    font-size: 16px;
    font-family: Dm Sans;
    padding: 10px;
    border: none;
    color: #403939;
    height: 100%;
    resize: none;
    outline: none;
    background-color: transparent;
    border-radius: 4px;
}

.submit-button {
    display: flex;
    padding-bottom: 70px;
    border: none;
    color: #000000;
    padding: 15px;
    font-size: 22px;
    background-color: transparent;
}

.submit-button:hover {
    color: #043B64;
}

.ratings-container .submit-rating {
    width: 100%;
}

.ratings-container .submit-rating textarea {
    display: block;
    width: 100%;
}

.ratings-container .submit-rating .submit-button {
    display: block;
    width: 100px;
}

@media (max-width: 768px) {
    .tips-title {
        font-size: 20px;
    }
    .tips-gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .tips-gallery {
        grid-template-columns: 1fr;
    }
}
