<app-navblue [categoryName]="'FUTEBOL'" [categoryImage]="'images/footballnav.png'"></app-navblue>
<app-action-bar></app-action-bar>

<div class="container-prin">
    <div class="container">
        <div class="circulo">
            <img class="img-corre" src="images/corre.png" alt="Ícone Condicionamento">
        </div>
        <div class="conteudo">
            <span class="titulo-esquerda">Condicionamento físico e energia</span>
            <p class="texto-esquerda">Jogar futebol melhora sua condição física, aumentando força, resistência e capacidade cardiovascular.</p>
        </div>
    </div>
    
    <div class="container-direita">
        <div class="conteudo">
            <span class="titulo-direita">Habilidades técnicas e controle</span>
            <p class="texto-direita">A prática desenvolve suas habilidades motoras, tornando você mais ágil e preciso em cada toque e chute.</p>
        </div>
        <div class="circulo-direita">
            <img class="img-bola" src="images/bola-icone.png" alt="Ícone Habilidade">
        </div>
    </div>
    
    <div class="container">
        <div class="circulo">
            <img class="img-cabeca" src="images/cabeca.png" alt="Ícone Condicionamento">
        </div>
        <div class="conteudo">
            <span class="titulo-esquerda">Fortalecimento mental e superação</span>
            <p class="texto-esquerda">O futebol também fortalece a mente! Reduz o estresse, melhora o humor e ensina resiliência, ajudando você a superar desafios e se manter focado.</p>
        </div>
    </div>
    
    <div class="container-direita">
        <div class="conteudo">
            <span class="titulo-direita">Conexão social e trabalho em equipe</span>
            <p class="texto-direita">O futebol ensina a trabalhar em equipe, melhorar a comunicação e promove socialização, criando novas amizades dentro e fora de campo.</p>
        </div>
        <div class="circulo-direita">
            <img class="img-pessoas" src="images/pessoas.png" alt="Ícone Habilidade">
        </div>
    </div>
</div>

<app-footer></app-footer> 
