section {
    padding: 22px 154px 0 166px;
    box-sizing: border-box;
}

.container, .container-direita {
    width: 100%;
    display: flex;
    padding-bottom: 16px;
}

.container {
    justify-content: flex-start;
}

.container p {
    text-align: justify;
}

.container-direita {
    justify-content: flex-end;
}

.container-direita p {
    text-align: justify;
    direction: rtl;
}

p {
    margin: 0;
}

.circulo, .circulo-direita {
    background: #043B64;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulo {
    margin-right: 16px;
}

.circulo-direita {
    margin-left: 16px;
}

.img-corre {
    width: 50px;
    height: 55px;
}

.img-bola, .img-cabeca {
    width: 55px;
    height: 55px;
}

.img-pessoas {
    width: 60px;
    height: 35px;
}

.conteudo, .conteudo-direita {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-direita {
    text-align: right;
}

.titulo-esquerda {
    font-weight: bold;
    font-size: 22px;
    color: #043B64;
}

.titulo-direita {
    font-weight: bold;
    font-size: 22px;
    color: #043B64;
}

.texto-esquerda, .texto-direita {
    font-size: 18px;
    color: #403939;
    font-weight: 100;
    line-height: 1.5em;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    section {
      padding: 22px 108px 0 114px;
    }

    .container, .container-direita {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 768px) {
    section {
      padding: 22px 62px 0 62px;
    }

    .container, .container-direita {
        padding-bottom: 32px;
    }

    .circulo, .circulo-direita {
        width: 96px;
        height: 96px;
    }

    .img-corre {
        width: 40px;
        height: 48px;
    }
    
    .img-bola, .img-cabeca {
        width: 48px;
        height: 48px;
    }
    
    .img-pessoas {
        width: 48px;
        height: 28px;
    }

    .titulo-esquerda {
        font-weight: bold;
        font-size: 20px;
        color: #043B64;
    }
    
    .titulo-direita {
        font-weight: bold;
        font-size: 20px;
        color: #043B64;
    }
    
    .texto-esquerda, .texto-direita {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 18px 42px 0 38px;
    }

    .container, .container-direita {
        padding-bottom: 32px;
    }

    .circulo, .circulo-direita {
        width: 80px;
        height: 80px;
    }

    .img-corre {
        width: 32px;
        height: 40px;
    }
    
    .img-bola, .img-cabeca {
        width: 40px;
        height: 40px;
    }
    
    .img-pessoas {
        width: 40px;
        height: 24px;
    }

    .conteudo, .conteudo-direita {
        max-width: 224px;
    }

    .titulo-esquerda {
        font-weight: bold;
        font-size: 16px;
        color: #043B64;
    }
    
    .titulo-direita {
        font-weight: bold;
        font-size: 16px;
        color: #043B64;
    }
    
    .texto-esquerda, .texto-direita {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    section {
      padding: 18px 34px 0 30px;
    }

    .container, .container-direita {
        padding-bottom: 32px;
    }

    .circulo, .circulo-direita {
        width: 72px;
        height: 72px;
    }
    
    .img-pessoas {
        width: 40px;
        height: 20px;
    }

    .conteudo, .conteudo-direita {
        max-width: 208px;
    }

    .titulo-esquerda {
        font-weight: bold;
        font-size: 15px;
        color: #043B64;
    }
    
    .titulo-direita {
        font-weight: bold;
        font-size: 15px;
        color: #043B64;
    }
    
    .texto-esquerda, .texto-direita {
        font-size: 13px;
    }
}