<app-navblue [categoryName]="'DANÇA'" 
[categoryImage]="'images/dancenavv.png'"
[description]="'A dança é uma forma de expressão universal que combina movimentos corporais e música, capaz de encantar pessoas de todas as idades e culturas. Seja como passatempo ou carreira profissional, dançar oferece benefícios físicos e emocionais, permitindo uma conexão profunda com diferentes estilos e tradições ao redor do mundo.'"
[minInvestment]="'R$70,00'"></app-navblue>
<app-dance-action-bar></app-dance-action-bar>

<section>
    <div class="container-prin">

        <div class="container">
            <div class="circulo">
                <img class="img-corre" src="images/fisico.png" alt="Ícone Condicionamento">
            </div>
            <div class="conteudo">
                <span class="titulo-esquerda">Aptidão física</span>
                <p class="texto-esquerda">A dança fortalece o corpo, melhora a flexibilidade e reduz o risco de doenças
                </p>
            </div>
        </div>
        
        <div class="container-direita">
            <div class="conteudo">
                <span class="titulo-direita">Coordenação</span>
                <p class="texto-direita">A prática melhora a sincronização do corpo, tornando os movimentos mais fluidos
                </p>
            </div>
            <div class="circulo-direita">
                <img class="img-bola" src="images/cordination.png" alt="Ícone Habilidade">
            </div>
        </div>
        
        <div class="container">
            <div class="circulo">
                <img class="img-cabeca" src="images/stress.png" alt="Ícone Condicionamento">
            </div>
            <div class="conteudo">
                <span class="titulo-esquerda">Redução de estresse</span>
                <p class="texto-esquerda">Dançar libera endorfinas, ajudando a diminuir a ansiedade e a pressão arterial
                </p>
            </div>
        </div>
        
        <div class="container-direita">
            <div class="conteudo">
                <span class="titulo-direita">Estimulação cerebral</span>
                <p class="texto-direita">Aprender passos novos melhora a memória e a concentração
                </p>
            </div>
            <div class="circulo-direita">
                <img class="img-pessoas" src="images/cerebral.png" alt="Ícone Habilidade">
            </div>
        </div>
        
    </div>
</section>

<app-footer></app-footer> 