section {
    padding: 80px 152px 80px 166px;
}

.material-container {
    padding-top: 120px;
}

.linha {
    display: flex;
    justify-content: space-around;
    border: 1px solid #E15C31;
    align-items: center;
    border-radius: 10px;
    width: 100%; 
    height: 80px;
    position: relative;
}

.item {
    text-align: center;
    position: relative;
}

img {
    width: auto; 
    height: 180px; 
    padding-bottom: 24px;
}

.textos div {
    text-align: center;
    padding: 10px; 
}

.textos h3 {
    color: #043B64;
    font-weight: bold;
    margin: 0;
    padding-bottom: 8px;
}

.textos p {
    font-size: 18px;
    color: #403939;
    margin: 0 auto;
    width: 400px;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    section {
      padding: 22px 108px 24px 114px;
    }

    img {
        width: auto; 
        height: 140px; 
        padding-bottom: 32px;
    }

    .textos p {
        font-size: 16px;
        width: 144px;
    }
}

@media screen and (max-width: 768px) {
    section {
      padding: 0 62px 24px 62px;
    }

    .linha {
        border-radius: 10px;
        width: 100%; 
        height: 80px;
    }

    .textos p {
        font-size: 32px;
    }

    img {
        width: auto; 
        height: 120px; 
        padding-bottom: 8px;
    }

    .textos h3 {
        font-size: 18px;
    }

    .textos p {
        font-size: 15px;
        width: 134px;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 0 42px 260px 38px;
    }

    .material-container {
        padding-top: 24px;
    }

    .linha {
        flex-wrap: wrap; 
        gap: 10px;
    }

    .item {
        flex: 0 1 48%; 
    }

    img {
        width: auto;
        height: 100px;
        padding-bottom: 8px;
    }

    .textos h3 {
        font-size: 16px;
    }

    .textos p {
        font-size: 14px;
        width: auto;
    }
}

@media screen and (max-width: 380px) {
    section {
      padding: 0 34px 260px 30px;
    }

    .material-container {
        padding-top: 24px;
    }

    .linha {
        flex-wrap: wrap; 
        gap: 10px;
    }

    .item {
        flex: 0 1 48%; 
    }

    img {
        width: auto;
        height: 80px;
        padding-bottom: 8px;
    }

    .textos h3 {
        font-size: 16px;
    }

    .textos p {
        font-size: 14px;
        width: 96px;
    }
}