<app-navblue [categoryName]="'DANÇA'" 
[categoryImage]="'images/dancenavv.png'"
[description]="'A dança é uma forma de expressão universal que combina movimentos corporais e música, capaz de encantar pessoas de todas as idades e culturas. Seja como passatempo ou carreira profissional, dançar oferece benefícios físicos e emocionais, permitindo uma conexão profunda com diferentes estilos e tradições ao redor do mundo.'"
[minInvestment]="'R$70,00'"></app-navblue>
<app-dance-action-bar></app-dance-action-bar>

<h2 class="titulo-material">Materiais</h2>

<section>
  <div class="material-container">
    <div class="linha">
      <div class="item">
        <img src="images/roupa-confortavel.png">
      </div>
      <div class="item">
        <img src="images/tenis-danca.png">
      </div>
    </div>
  </div>

  <div class="textos">
    <div class="texto1">
      <h3>Vestuário</h3>
      <p>Roupas confortáveis e adequadas ao estilo de dança</p>
    </div>
    <div class="texto2">
      <h3>Calçados</h3>
      <p>tênis confortáveis, sapatos próprios como: sapatilhas no balé ou sapatos de sapateado, para garantir movimentos corretos e evitar lesões.</p>
    </div>
  </div>
</section>


<app-footer></app-footer> 