section {
    padding: 22px 148px 24px 162px;
}

.fundamentos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1100px;
    justify-content: left;
}

.fundamento-item {
    background-color: transparent;
    border: 1px solid #043B64;
    color: #403939;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    margin: 4px;
}

.fundamento-item img {
    width: 160px;
    height: 110px;
    border-radius: 12px;
    object-fit: cover;
    margin-left: 16px;
}

.fundamento-texto {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 16px;
}

.fundamento-texto h3 {
    margin: 0;
    color: #FF4500;
    font-size: 18px;
}

.fundamento-texto p {
    font-size: 14px;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Responsividade */
@media screen and (max-width: 1024px) {
    section {
      padding: 22px 102px 0 108px;
    }

    .fundamento-item img {
        width: 140px;
        height: 110px;
    }
}

@media screen and (max-width: 768px) {
    section {
      padding: 22px 58px 0 58px;
    }

    .fundamentos-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .fundamento-item {
        border-radius: 10px;
        padding: 8px;
        margin: 4px;
    }
    
    .fundamento-item img {
        width: 180px;
        height: 110px;
        border-radius: 12px;
        object-fit: cover;
        margin-left: 16px;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 18px 38px 0 34px;
    }

    .fundamentos-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .fundamento-item {
        border-radius: 10px;
        padding: 8px;
        margin: 4px;
    }
    
    .fundamento-item img {
        width: 120px;
        height: 88px;
        border-radius: 12px;
        object-fit: cover;
        margin-left: 16px;
    }

    .fundamento-texto h3 {
        font-size: 16px;
    }
    
    .fundamento-texto p {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    section {
      padding: 18px 30px 0 26px;
    }

    .fundamentos-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .fundamento-item {
        border-radius: 10px;
        padding: 8px;
        margin: 4px;
    }
    
    .fundamento-item img {
        width: 120px;
        height: 88px;
        border-radius: 12px;
        object-fit: cover;
        margin-left: 16px;
    }

    .fundamento-texto h3 {
        font-size: 16px;
    }
    
    .fundamento-texto p {
        font-size: 14px;
    }
}