<app-navblue [categoryName]="'FUTEBOL'" [categoryImage]="'images/footballnav.png'"></app-navblue>
<app-action-bar></app-action-bar>

<div class="fundamentos-container">
  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>CHUTE</h3>
      <p>Técnica para finalizar e marcar gols.</p>
    </div>
    <img src="images/chute.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>CABECEIO</h3>
      <p>Usar a cabeça para fazer passes ou marcar gols.</p>
    </div>
    <img src="images/cabeceio.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>LANÇAMENTO</h3>
      <p>Passes longos para avançar e surpreender a defesa.</p>
    </div>
    <img src="images/lancamento.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>MARCAÇÃO</h3>
      <p>Impedir o avanço dos adversários.</p>
    </div>
    <img src="images/marcação.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>DESARME</h3>
      <p>Recuperar a bola sem falta.</p>
    </div>
    <img src="images/desarme.png" alt="">
  </div>
  
  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>PASSE</h3>
      <p>Trocar a bola entre jogadores.</p>
    </div>
    <img src="images/passe.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>DRIBLE</h3>
      <p>Superar adversários controlando a bola com habilidade.</p>
    </div>
    <img src="images/drible.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>CONTROLE</h3>
      <h3>DE BOLA</h3>
      <p>Dominar e manter a posse da bola.</p>
    </div>
    <img src="images/controledebola.png" alt="">
  </div>

  <div class="fundamento-item">
    <div class="fundamento-texto">
      <h3>CONDUÇÃO</h3>
      <p>Avançar a bola pelo campo mantendo controle.</p>
    </div>
    <img src="images/conducao.png" alt="">
  </div>
</div>
  
<app-footer></app-footer> 