.fundamentos-container {
    padding: 22px 144px 0px 168px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1100px;
    justify-content: left;
}

.fundamento-item {
    background-color: transparent;
    border: 1px solid #043B64;
    color: #403939;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: auto;
    margin: 10px;
}

.fundamento-item img {
    width: 130px;
    height: auto;
    max-height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.fundamento-texto {
    flex-grow: 1;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.fundamento-texto h3 {
    margin: 0;
    color: #FF4500;
    font-size: 18px;
}

.fundamento-texto p {
    margin: 5px 0 0 0;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .fundamentos-container {
        grid-template-columns: 1fr;
        padding: 10px;
        max-width: 100%;
    }

    .fundamento-item {
        flex-direction: row;
        padding: 15px;
        margin: 10px 0;
    }

    .fundamento-item img {
        width: 100px;
        height: auto;
        max-height: 80px;
        margin-right: 10px;
    }

    .fundamento-texto {
        margin-left: 10px;
        text-align: left;
    }

    .fundamento-texto h3 {
        font-size: 16px;
    }

    .fundamento-texto p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .fundamentos-container {
        grid-template-columns: 1fr;
    }

    .fundamento-item {
        padding: 10px;
    }

    .fundamento-item img {
        width: 70px;
        height: auto;
        max-height: 50px;
        margin-right: 5px;
    }

    .fundamento-texto {
        text-align: left;
    }

    .fundamento-texto h3 {
        font-size: 14px;
    }

    .fundamento-texto p {
        font-size: 10px;
    }
}
