<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>

<section>
    <div class="container-prin">

        <div class="container">
            <div class="circulo">
                <img class="img-corre" src="images/cognicao.png" alt="Ícone Condicionamento">
            </div>
            <div class="conteudo">
                <span class="titulo-esquerda">Desenvolvimento de pensamento crítico</span>
                <p class="texto-esquerda">A leitura amplia a visão de mundo, estimulando o questionamento e a reflexão.
                </p>
            </div>
        </div>
        
        <div class="container-direita">
            <div class="conteudo">
                <span class="titulo-direita">Diminuição de estresse</span>
                <p class="texto-direita">Ler relaxa a mente e ajuda a melhorar a qualidade do sono.
                </p>
            </div>
            <div class="circulo-direita">
                <img class="img-bola" src="images/lessstress.png" alt="Ícone Habilidade">
            </div>
        </div>
        
        <div class="container">
            <div class="circulo">
                <img class="img-cabeca" src="images/exercise.png" alt="Ícone Condicionamento">
            </div>
            <div class="conteudo">
                <span class="titulo-esquerda">Exercício Cerebral</span>
                <p class="texto-esquerda">Ler mantém o cérebro ativo e previne o declínio cognitivo.
                </p>
            </div>
        </div>
        
        <div class="container-direita">
            <div class="conteudo">
                <span class="titulo-direita">Aumento de concentração</span>
                <p class="texto-direita">A leitura melhora o foco e aprimora o desempenho nas atividades diárias.
                </p>
            </div>
            <div class="circulo-direita">
                <img class="img-pessoas" src="images/concentracao.png" alt="Ícone Habilidade">
            </div>
        </div>
        
    </div>
</section>

<app-footer></app-footer> 