<section>
  <hr>
    <footer>
      <div class="footer-container">
        <div class="footer-left">
          <h2>Contato</h2>
          <p>E-mail:  <a [href]="'mailto:' + email">{{ email }}</a></p>
          <p>Telefone: 55 11 1234-5678</p>
          <p>Endereço: Adelino Sousa Queiroz, 765, Alphaville Centro Industrial e Empresarial, Barueri - São Paulo, SP, CEP: 87502 - 730</p>

          <div class="social-icons">
            <a href="https://facebook.com" target="_blank" aria-label="Facebook"><img class="socials" src="images/facebook.png"></a>
            <a href="https://instagram.com" target="_blank" aria-label="Instagram"><img class="socials" src="images/ig.png"></a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter"><img class="socials" src="images/twitter.png"></a>
          </div>

          <h2>Parcerias</h2>
          <p>Cadastre sua empresa e/ou profissional</p>
          <p>Trabalhe Conosco</p>
        </div>

        <div class="footer-right">
          <h2>Atendimento ao Cliente</h2>
          <nav>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">SAC</a></li>
              <li><a href="#">Termos e Política de Privacidade</a></li>
            </ul>
          </nav>

          <h2>Sobre a ACHÔ</h2>
          <p>ACHÔ é uma plataforma dedicada a ajudar as pessoas a encontrar e desenvolver hobbies que promovam satisfação e bem-estar. Explore, descubra e conecte-se com atividades que combinam com você.</p>
        </div>
      </div>
    </footer>
</section>