<app-navbar></app-navbar>
<section>
    <div class="container_image">
        <div class="fundo">
            <div class="imagem"> 
                <img src="images/backquiz.png" alt="">
            </div>
            <div class="texto">
                <h1>Hobbies são a ponte entre o trabalho e a alma, onde encontramos as <span class="highlight">cores</span> que o cotidiano esconde.</h1>

            </div>
            <div class="botao">
                <button class="iniciar" [routerLink]="['/quizinstructions']">Iniciar</button>
            </div>
        </div>
    </div>
</section>
