section {
  padding: 12px 164px 24px 166px;
}

.container_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fundo {
  position: relative;
}

.fundo img {
  width: 100%;
  height: auto;
  opacity: 0.4;
  display: block;
}

.texto {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -30%);
  width: 90%;
}

h1 {
  color: #332d2d;
  font-size: 3vw;
}

.highlight {
  color: #E15C31;
}

.botao {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.iniciar {
  width: 164px;
  height: 40px;
  background-color: #E15C31;
  border: 1px solid #E15C31;
  font-family: dm sans;
  color: #ffffff;
  border-radius: 24px;
  border: none;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.20);
  font-weight: 500;
  font-size: 18px;
  user-select: none;
}

.iniciar:hover {
  background-color: #ffffff;
  color: #E15C31;
  transition: background-color 0.3s ease;
  font-weight: 600;
  font-size: 16px;
  user-select: none;
}

.iniciar:not(:hover) {
  transition: background-color 0.5s ease;
}

@media screen and (max-width: 1024px) {
  section {
    padding: 12px 108px 24px 114px;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 1px 66px 24px 66px;
  }

  .texto {
    top: 32%;
  }

  .botao {
    top: 58%;
  }
  
  .iniciar {
    width: 140px;
    height: 36px;
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding: 1px 40px 24px 42px;
  }

  .texto {
    top: 30%;
  }

  h1 {
    font-size: 4.5vw;
  }

  .botao {
    top: 60%;
  }
  
  .iniciar {
    width: 108px;
    height: 24px;
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  section {
    padding: 1px 32px 24px 34px;
  }

  .texto {
    top: 30%;
  }

  h1 {
    font-size: 4.2vw;
  }

  .botao {
    top: 60%;
  }
  
  .iniciar {
    width: 88px;
    height: 22px;
    font-size: 12px;
  }
}
