<app-navbar></app-navbar>
<section>
    <div class="container_image">
        <div class="fundo">
            <div class="imagem"> 
                <img src="images/backquiz.png" alt="">
            </div>
            <div class="texto">
                <h1>Hobbies: a melhor maneira <br> de dar <span class="highlight"> cor </span> à vida cotidiana.</h1>
            </div>
            <div class="botao">
                <button class="comecar" [routerLink]="['/quizinstructions']">Iniciar</button>
            </div>
        </div>
    </div>
</section>
