<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>
<router-outlet></router-outlet>

<section>
  <p class="tips-title">Os praticantes possuem ótimas dicas para você!</p>

  <div class="tips-gallery">
    <div *ngFor="let tip of tips" class="tip-container">
      <p class="tip-text">{{ tip }}</p>
    </div>
  </div>

  <div class="spacing"></div>

  <p class="tips-share">Compartilhe uma dica você também!</p>

  <div class="ratings-container">
    <div class="submit-rating">
      <textarea [(ngModel)]="newTip" class="rating-input" placeholder="Adicione uma dica..."></textarea>
      <button (click)="submitTip()" class="submit-button material-icons">send</button>
    </div>
  </div>
</section>
  


<app-footer></app-footer>  