<section class="notification-container">
    <div class="preferences">
      <h3>Notificações</h3>
      <p class="preferences-text">
        Enviaremos atualizações sobre novos alunos inscritos em seus cursos.
      </p>
      <div class="toggle-container">
        <p class="toggle-text">RECEBER NOTIFICAÇÕES</p>
        <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
      </div>
    </div>
  
    <div class="notification-card">
      <div class="notification-header">
        <span class="new-notification">NOVA INSCRIÇÃO!</span>
        <span class="notification-text">
            Carina Silva adicionou uma inscrição a Futebol Juvenil Feminino
        </span>
      </div>

      <button class="view-more-button">Ver mais</button>
    </div>