.notification-container {
    width: 55%;
    padding: 5px;
  }
  
  .preferences {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #17616E;
  }

  .preferences h3 {
    margin: 0;
    padding-bottom: 2px; 

  }

  .preferences-text {
    color: #403939;
  }
  

  .toggle-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .toggle-text {
    font-weight: 600;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #17616E;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #17616E;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  

  .notification-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }


  .notification-card {
    width: 700px;
    background-color: rgba(4, 59, 100, 0.12);
    padding: 14px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .notification-header {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .new-notification {
    color: #e15c31;
    font-weight: bold;
  }
  
  .notification-text {
    color: #403939;
    font-weight: 500;
    text-align: justify;
  }

  
  .view-more-button {
    padding: 10px 20px;
    background-color: #17616E;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
    font-weight: 500;
    font-size: 16px;
    font-family: dm sans;
}
  
  .view-more-button:hover {
    background-color: #2d707c;
  }