section {
    background-color: none;
    padding: 256px 152px 24px 166px;
  }
  
  .action-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    cursor: pointer;
    position: relative;
    z-index: 1;
    scrollbar-width: none;
    user-select: none;
  }
  
  .categorias-carousel {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .arrow {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 65.4%;
    transform: translateY(-50%);
    z-index: 0;
    display: none;
  }
  
  .arrow.left {
    left: 56px;
  }
  
  .arrow.right {
    right: 72px;
  }
  
  .arrow span {
    font-size: 22px;
    color: #043B64;
  }
  
  .botao {
    border: 2px solid #043B64;
    background-color: transparent;
    color: #043B64;
    border-radius: 20px;
    padding: 6px 24px 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px;
    font-family: dm sans;
    white-space: nowrap;
  }
  
  .botao:hover {
    background-color: #043B64;
    color: #E15C31;
    font-weight: 600;
  }
  
  .botao.ativo {
    background-color: #043B64;
    color: #E15C31;
    font-weight: 600;
  }
  
  /* Responsividade */
  @media screen and (max-width: 1024px) {
    section {
      padding: 256px 108px 24px 112px;
      overflow: visible;
    }
  
    .action-container {
      gap: 16px;
    }
  
    .arrow {
      display: block;
      z-index: 2;
    }
  
    .arrow.left {
        left: 68px;
    }
  
    .arrow.right {
        right: 64px;
    }
  
    .botao {
        border-radius: 20px;
        padding: 6px 24px 6px;
        font-size: 16px;
    }
  }
  
  @media screen and (max-width: 768px) {
    section {
        padding: 208px 62px 40px;
        overflow: visible;
    }
  
    .action-container {
        gap: 12px;
    }
  
    .categoria {
        width: 80px;
    }
  
    .arrow {
        top: 58%;
        display: block;
        z-index: 2;
    }
  
    .arrow.left {
        left: 18px;
    }
  
    .arrow.right {
        right: 24px;
    }
  
    .botao {
        border-radius: 20px;
        padding: 6px 22px 6px;
        font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    section {
        padding: 316px 42px 24px 38px;
        overflow: visible;
    }
  
    .action-container {
        gap: 8px;
    }
  
    .categoria {
        width: 80px;
    }
  
    .arrow {
        top: 68.1%;
        display: block;
        z-index: 2;
    }
  
    .arrow.left {
        left: 6px;
    }
  
    .arrow.right {
        right: 10px;
    }
  
    .botao {
        border-radius: 20px;
        padding: 6px 18px 6px;
        font-size: 12px;
    }
  }
  
  @media screen and (max-width: 380px) {
    section {
        padding: 332px 34px 24px 30px;
        overflow: visible;
    }
  
    .action-container {
        gap: 8px;
    }
  
    .categoria {
        width: 80px;
    }
  
    .arrow {
        top: 66.7%;
        display: block;
        z-index: 2;
    }
  
    .arrow.left {
        left: -2px;
    }
  
    .arrow.right {
        right: 0px;
    }
  
    .botao {
        border-radius: 20px;
        padding: 6px 16px 6px;
        font-size: 12px;
    }
  }