<app-navbar></app-navbar>

<section>
<div class="quiz-instruction">
    <div class="container">
      <p class="instruction-text">O quiz é composto por <span class="highlight">8 perguntas</span> e levará menos de <span class="highlight">5 minutos</span> para ser concluído.</p>
    </div>
    <div class="container">
      <p class="instruction-text">O objetivo deste quiz é ajudá-lo a descobrir quais <span class="highlight">hobbies</span> se alinham melhor com seus <span class="highlight">interesses</span> e <span class="highlight">estilo de vida</span>.</p>
    </div>
    <button class="continuar" [routerLink]="['/quizquestion']">Continuar</button>
  </div>
</section> 