<app-navblue [categoryName]="'DANÇA'" 
[categoryImage]="'images/dancenavv.png'"
[description]="'A dança é uma forma de expressão universal que combina movimentos corporais e música, capaz de encantar pessoas de todas as idades e culturas. Seja como passatempo ou carreira profissional, dançar oferece benefícios físicos e emocionais, permitindo uma conexão profunda com diferentes estilos e tradições ao redor do mundo.'"
[minInvestment]="'R$70,00'"></app-navblue>
<app-dance-action-bar></app-dance-action-bar>

<section>
  <div class="fundamentos-container">
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>PREPARAÇÃO FÍSICA</h3>
        <p>Aquece o corpo e previne lesões para garantir bons movimentos.
        </p>
      </div>
      <img src="images/preparacao-fisica.jpg" alt="">
    </div>
  
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>TÉCNICA E COORDENAÇÃO</h3>
        <p>Domina os movimentos e sincroniza com a música para uma execução precisa.</p>
      </div>
      <img src="images/tecnica-e-coordenação.jpg" alt="">
    </div>
  
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>EXPRESSÃO E INTERPRETAÇÃO</h3>
        <p>Conecta emocionalmente o dançarino à música e ao público.</p>
      </div>
      <img src="images/expressao-e-interpretação.jpg" alt="">
    </div>
  
    <div class="fundamento-item">
      <div class="fundamento-texto">
        <h3>RITMO E MUSICALIDADE</h3>
        <p>Ajusta os movimentos ao ritmo da música para uma dança fluida.
        </p>
      </div>
      <img src="images/ritmo-e-musicalidade.jpg" alt="">
    </div>
  </div>
</section>
 
<app-footer></app-footer>