<app-navblue [categoryName]="'LEITURA'" 
[categoryImage]="'images/readingnav.png'"
[description]="'A leitura é uma atividade que atravessa gerações, conquistando pessoas de todas as idades e culturas. Seja para viajar por mundos imaginários, expandir conhecimentos ou refletir sobre novas ideias, ler é uma prática que estimula a mente, amplia horizontes e proporciona momentos de aprendizado e descanso.'"
[minInvestment]="'R$20,00'"></app-navblue>
<app-reading-action-bar></app-reading-action-bar>
 
<app-filter></app-filter>
<app-maps></app-maps>
<app-footer></app-footer> 