.content {
  text-align: justify;
  padding: 22px 320px 0 168px;
  height: auto;
}

.image-text-section {
  display: flex;
  gap: 32px;
  padding-bottom: 16px;
}

.image-text-section img {
  width: 400px;
  height: auto;
}

.image-text-section p {
  flex: 1;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
}

.image-text-section img:last-child {
  padding-right: 0;
}

.image-text-section + .image-text-section {
  padding-top: 20px;
}

.text-image {
  display: flex;
  align-items: center;
  flex: 1;
  padding-right: 20px;
}


.container-p1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.p1 {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}