<app-navblue [categoryName]="'FUTEBOL'" [categoryImage]="'images/footballnav.png'"></app-navblue>
<app-action-bar></app-action-bar>

<div class="content">
  <div class="container-p1">
    <p class="p1">
      O futebol tem uma história tão emocionante quanto um gol nos acréscimos! Tudo começou na China, por volta de 2.600 a.C., quando o "Ts'u Tsü" fazia tribos celebrarem vitórias de um jeito bem peculiar: chutando a cabeça dos inimigos derrotados.
    </p>
  </div>

<!-- Seção de imagem e texto -->
  <div class="content-container">
    <div class="image-text-section">
      <img src="images/origem.png" alt="" class="image">
      <p>
        Mas o futebol como conhecemos hoje começou a ganhar forma na Inglaterra, nos colégios, entre 1810 e 1840, até que, em 1863, a Football Association decidiu organizar a bagunça e criar regras universais. 
      </p>
    </div>

    <div class="image-text-section">
      <p>
        No Brasil, o nome Charles Miller é sempre lembrado como o pai do futebol, trazendo o esporte da Inglaterra em 1894. Mas a verdade é que o pessoal do Rio já andava chutando bola desde 1880, o que deixa historiadores em eterna discussão!
      </p>
      <img src="images/origen2.png" alt="" class="image">
    </div>
  </div>
</div>
<app-footer></app-footer>  
