<div class="barra-horizontal">
    <button class="botao" [class.ativo]="ativoBotao === 'pratique-seu-hobby'" (click)="carregarComponente('pratique-seu-hobby')">PRATIQUE SEU HOBBY</button>
    <button class="botao" [class.ativo]="ativoBotao === 'origem'" (click)="carregarComponente('origem')">ORIGEM</button>
    <button class="botao" [class.ativo]="ativoBotao === 'fundamentos'" (click)="carregarComponente('fundamentos')">FUNDAMENTOS</button>
    <button class="botao" [class.ativo]="ativoBotao === 'beneficios'" (click)="carregarComponente('beneficios')">BENEFÍCIOS</button>
    <button class="botao" [class.ativo]="ativoBotao === 'materiais'" (click)="carregarComponente('materiais')">MATERIAIS</button>
    <button class="botao" [class.ativo]="ativoBotao === 'dicas'" (click)="carregarComponente('dicas')">DICAS</button>
    <button class="botao" [class.ativo]="ativoBotao === 'eventos'" (click)="carregarComponente('eventos')">EVENTOS</button>
</div>
