section {
  padding: 32px 168px 0 56px;
}

.informacoes {
  display: flex;
  gap: 48px;
  width: 100%;
}

.image {
  width: 160px;
  height: 160px;
  display: block;
  justify-items: center;
}

.infos_principais {
  display: block;
  align-self: center;
  width: 50%;
  padding-top: 16px;
}

.nome {
  color: #17616E;
  font-family: dm sans;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.8px;
  margin: 0;
  padding-bottom: 8px;
}

.local {
  color: #403939;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-bottom: 72px;
}

.edit {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  align-self: center;
  padding: 0;
  cursor: pointer;
}

.material-icons {
  font-size: 22px;
}

.icone_edit {
  width: 22px;
  height: 22px;
  color: #17616E;
}

h3 {
  height: 16px;
  display: flex;
  font-size: 16px;
  padding-left: 6px;
  margin: 0;
  color: #17616E;
  font-family: Dm Sans;
  font-weight: 500;
}

.social-icons {
  padding-top: 12px;
}

.socials {
  padding-right: 12px;
  width: 28px;
  height: 28px;
}

.informacoes_dois {
  padding-top: 40px;
  width: 440px;
  display: flex;
  justify-items: flex-start;
  justify-content: space-between;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin: 0;
  padding-bottom: 6px;
  color: #17616E;
}

p {
  margin: 0;
  padding-bottom: 16px;
  color: #403939;
  font-size: 16px;
}  

/* Botões */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  padding: 0 0 0 0;
  gap: 24px;
}
  
.course-button {
  width: 50%;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #17616E;
  border-radius: 20px;
  font-size: 16px;
  color: #17616E;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  cursor: pointer;
  position: relative; 
  box-sizing: border-box; 
}

.course-button.active {
border-bottom: 3px solid #17616E; 
background-color: none; 
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.course-button:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.course-button:active {
transform: translateY(2px);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container do curso */
.course-container {
  width: 95%;
  border: 1px solid #17616E;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px 0 0 30px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; 
}

.course-container:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
}

/* Estilo do cabeçalho do curso */
.course-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  padding-bottom: 0px;
}

.course-header h4 {
  font-size: 18px; 
  font-weight: 500;
  color: #17616E;
  padding-bottom: 4px; 
  margin: 0;
}

.course-header p {
  color: #403939;
  margin: 0;
}

.icon {
  font-size: 1em;
  align-self: flex-end;
  color: #E15C31;
  padding: 0 40px 5px 40px;
}

.student-list {
  list-style: none;
  padding: 0;
}

.student-list li {
  display: flex;
  justify-content: space-between;
  padding: 12px 0; 
  border-bottom: 1px solid #17616E;
}

.student-list li:last-child {
  border-bottom: none;
}

.view-more {
  color: #E15C31;
  text-decoration: none;
  font-weight: 500;
  font-family: dm sans;
  padding-right: 50px;
}

.view-more:hover {
  text-decoration: underline;
  color: #E15C31; 
}