<div class="hobby-mes-header">
    <p class="title">Hobby do mês</p>
</div>

<div class="hobby-container">
    <div class="image-container">
        <img class="firstimg" src="images/2ndance.png">
    </div>
    <div class="hobby-content">
        <p class="hobby-text">
            O hobby mais favoritado por nossos clientes esse mês.
        </p>
        <button class="discover-btn">descubra</button>
    </div>
    <div class="image-container">
        <img class="secondimg" src="images/3rdance.png">
    </div>
</div>
