.title {
    font-size: 24px;
    font-weight: bold;
    padding-left: 150px;
    color: #E15C31;
  }

.hobby-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;

}

.firstimg {
    width: 100%;
    max-width: 430px;
    height: auto;
    min-height: 310px;
    object-fit: cover;
    border-radius: 20px;
    padding-left: 130px;
}

.secondimg {
    width: 100%;
    max-width: 480px;
    height: auto;
    min-height: 290px;
    object-fit: cover;
    border-radius: 15px;
    padding-right: 130px;
}

.hobby-content {
    background-color: #043B64;
    color: #E15C31;
    padding: 20px;
    text-align: center;
    font-size: 42px;
    width: 100%;
    max-width: 520px;
    min-height: 280px;
    border-radius: 15px;
    margin: 0 10px;
    border: 2px solid #043B64;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
}

.hobby-content:hover {
    transform: scale(1.02);
}

.hobby-text {
    margin: 0 15px;
    padding-top: 40px;
}

.discover-btn {
    align-self: center;
    padding: 10px 20px;
    background-color: transparent;
    color: #E15C31;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.3s;
    
}

.discover-btn:hover {
    background-color: #ffffff;
    color: #E15C31;
    font-weight: 500;
}

/* responsividade: */
@media (max-width: 1024px) {
    .hobby-container {
        flex-direction: row; /* Itens em coluna em telas menores */
        gap: 20px; /* Reduzir o espaçamento entre os elementos */
    }

    .firstimg, .secondimg, .hobby-content {
        max-width: 100%; /* Ocupam 100% da largura disponível */
    }

    .hobby-content {
        font-size: 32px; /* Reduzir o tamanho do texto para caber em telas menores */
        min-height: auto; /* Ajustar a altura mínima */
    }

    .discover-btn {
        font-size: 18px; /* Diminuir o tamanho do botão */
    }
}