<section>
  <div class="account-container">
    <div class="section">
      <h3>Informações de login</h3>

      <div class="info um">
        <span>Email</span>
        <a href="#">Alterar Email</a>
      </div>
      <p class="email">caterine.snts&#64;gmail.com</p>

      <div class="info dois">
        <span>Senha</span>
        <a href="#">Alterar Senha</a>
      </div>
      <p class="password">**********</p>
    </div>
  
    <div class="section">
      <h3>Gerenciamento de sessão</h3>
      <p>Você tem 1 sessões ativas</p>
      <button class="view-sessions"  [routerLink]="['/profile/authsessions/sessões']">Ver sessões</button>
    </div>
  
    <a href="#" class="delete-account">Excluir sua conta</a>
  </div>  
</section>